<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link th:href="@{/resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.png" th:href="@{/resources/images/favicon.jpg}" type="img/jpg">
    <title>UniCar - Адміністрування</title>
</head>
<body>
<header class="admin-header">
    <div class="wrap">
        <nav>
            <ul>
                <li><a href="#" th:href="@{admin(page=cars)}">Автомобілі</a></li>
                <li><a href="#" th:href="@{admin(page=buys)}">Покупки авто</a></li>
                <li><a href="#" th:href="@{admin(page=tests)}">Тест-драйви</a></li>
                <li><a href="#" th:href="@{admin(page=customers)}">Клієнти</a></li>
            </ul>
            <ul class="logout-item">
                <form th:action="@{/logout}" method="post">
                    <li><button class="logout-btn" type="submit">Вихід</button></li>
                </form>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="wrap">

        <div class="data" th:if="${page=='cars'}">
            <th:block th:each="car : ${cars}">
                <div class="car-details-info details-info-admin">
                    <div class="car-details-img-block">
                        <img class="car-details-img" src="../../static/resources/images/e34.jpg"
                             th:src="${car.image}">
                    </div>
                    <div class="car-details-info-in">
                        <div style="margin-bottom: 1em;">
                            <div class="car-details-info-point">
                                <p class="details-point-name">Код</p>
                                <p class="details-point-info" th:text="${car.id}">BMW</p>
                            </div>
                            <div class="car-details-info-point">
                                <p class="details-point-name">Бренд</p>
                                <p class="details-point-info" th:text="${car.brand.brandName}">BMW</p>
                            </div>
                            <div class="car-details-info-point">
                                <p class="details-point-name">Модель</p>
                                <p class="details-point-info" th:text="${car.model.modelName}">518i</p>
                            </div>
                            <div class="car-details-info-point">
                                <p class="details-point-name">Модель кузова</p>
                                <p class="details-point-info" th:text="${car.body.bodyName}">E34</p>
                            </div>
                            <div class="car-details-info-point">
                                <p class="details-point-name">Тип кузова</p>
                                <p class="details-point-info" th:text="${car.carType.typeName}">Sedan</p>
                            </div>
                        </div>
                        <div class="car-details-admin-btns">
                            <a href="#" th:href="@{/admin(page='carEdit', id=${car.id})}">Редагувати</a>
                            <a href="#" th:href="@{'admin/car/delete/' + ${car.id}}" style="margin-right: 1em">Видалити</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <div th:if="${page=='carEdit'}">
            <h3>Редагування авто:</h3>
            <form th:object="${car}" class="edit-form" th:action="@{/editCar}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}">
                <label>Бренд</label>
                <select name="brand.id">
                    <option th:each="brand : ${brands}" th:text="${brand.brandName}" th:selected="${brand.id.equals(car.brand.id)}" th:value="${brand.id}"></option>
                </select>
                <label>Модель</label>
                <select name="model.id">
                    <option th:each="model : ${models}" th:text="${model.modelName}" th:selected="${model.id.equals(car.model.id)}" th:value="${model.id}"></option>
                </select>
                <label>Модель кузова</label>
                <select name="body.id">
                    <option th:each="body : ${bodies}" th:text="${body.bodyName}" th:selected="${body.id.equals(car.body.id)}" th:value="${body.id}"></option>
                </select>
                <label>Тип кузова</label>
                <select name="carType.id">
                    <option th:each="carType : ${carTypes}" th:text="${carType.typeName}" th:selected="${carType.id.equals(car.carType.id)}" th:value="${carType.id}"></option>
                </select>
                <label>Колір</label>
                <select name="color.id">
                    <option th:each="color : ${colors}" th:text="${color.color}" th:selected="${color.id.equals(car.color.id)}" th:value="${color.id}"></option>
                </select>
                <input type="hidden" th:field="*{engine.id}">
                <input type="hidden" th:field="*{price}">
                <input type="hidden" th:field="*{testPrice}">
                <input type="hidden" th:field="*{image}">
                <input type="radio" name="changeImage" checked value="unchecked">
                <label>Не змінювати зображення:</label>
                <input id="imageselect" type="radio" name="changeImage" value="checked">
                <label>Змінити зображення:</label>
                <input id="imagefile" name="imagefile" type="file" class="file">
                <input type="submit">
            </form>
        </div>

        <div th:if="${page=='buys'}">

        </div>

        <div th:if="${page=='tests'}">

        </div>

        <div th:if="${page=='customers'}">

        </div>

        <!--<div class="data">
            <form th:action="@{/colorAdd}" method="post">
                <h3>Кольори:</h3>
                <input type="text" name="colorName">
                <input type="submit" value="Додати">
            </form>
            <table class="data-table">
                <tr>
                    <th>ID</th>
                    <th>Назва кольору</th>
                </tr>
                <tr th:each="color : ${colors}">
                    <td th:text="${color.id}"></td>
                    <td th:text="${color.color}"></td>
                </tr>
            </table>
        </div>

        <div class="data">
            <form th:action="@{/brandAdd}" method="post">
                <h3>Бренди:</h3>
                <input type="text" name="brandName">
                <input type="submit" value="Додати">
            </form>
            <table class="data-table">
                <tr>
                    <th>ID</th>
                    <th>Назва Бренду</th>
                </tr>
                <tr th:each="brand : ${brands}">
                    <td th:text="${brand.id}"></td>
                    <td th:text="${brand.brandName}"></td>
                </tr>
            </table>
        </div>

        <div class="data">
            <form th:action="@{/modelAdd}" method="post">
                <h3>Моделі:</h3>
                <select name="brandName">
                    <option th:each="brand : ${brands}" th:text="${brand.brandName}" th:value="${brand.brandName}"></option>
                </select><br>
                <input type="text" name="modelName">
                <input type="submit" value="Додати">
            </form>
            <table class="data-table">
                <tr>
                    <th>ID</th>
                    <th>Назва моделі</th>
                    <th>Назва бренду</th>
                </tr>
                <tr th:each="model : ${models}">
                    <td th:text="${model.id}"></td>
                    <td th:text="${model.modelName}"></td>
                    <td th:text="${model.brand.brandName}"></td>
                </tr>
            </table>
        </div>-->
    </div>
</main>
<footer>

</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../static/resources/js/numbercount.js" th:src="@{resources/js/numbercount.js}"></script>
<script type="text/javascript" src="../static/resources/js/parallax.js" th:src="@{resources/js/parallax.js}"></script>
<script src="../static/resources/js/chainedselects.js" type="text/javascript"
        th:src="@{resources/js/chainedselects.js}"></script>
<script src="../static/resources/js/slider.js" type="text/javascript" th:src="@{resources/js/slider.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://kit.fontawesome.com/de94abba4d.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function (){
        $('#imagefile').click(function (){

            $('#imageselect').attr('checked', true);
        });
    });
</script>
</html>