<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link th:href="@{/resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.png" th:href="@{/resources/images/favicon.jpg}" type="img/jpg">
    <title>UniCar - Адміністрування</title>
</head>
<body>
<header class="admin-header">
    <div class="wrap">
        <nav>
            <ul>
                <li><a href="#" th:href="@{admin(page=cars)}">Автомобілі</a></li>
                <li><a href="#" th:href="@{admin(page=buys)}">Покупки авто</a></li>
                <li><a href="#" th:href="@{admin(page=tests)}">Тест-драйви</a></li>
                <li><a href="#" th:href="@{admin(page=customers)}">Клієнти</a></li>
            </ul>
            <ul class="logout-item">
                <form th:action="@{/logout}" method="post">
                    <li><button class="logout-btn" type="submit">Вихід</button></li>
                </form>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="wrap">
        <p th:text="${path}"></p>

        <div class="data" th:if="${page=='cars'}">
            <a href="#" th:href="@{/admin(page='newCar')}" class="add-data-btn" style="margin-bottom: 1em;">Додати автомобіль</a>
            <th:block th:each="car : ${cars}">
                <div class="car-details-info details-info-admin">
                    <div class="car-details-img-block">
                        <img class="car-details-img" src="../../static/resources/images/e34.jpg"
                             th:src="@{'img/' + ${car.image}}">
                    </div>
                    <div class="car-details-info-in">
                        <div style="margin-bottom: 1em;">
                            <div class="car-details-info-point">
                                <p class="details-point-name">Код</p>
                                <p class="details-point-info" th:text="${car.id}">BMW</p>
                            </div>
                            <div class="car-details-info-point">
                                <p class="details-point-name">Бренд</p>
                                <p class="details-point-info" th:text="${car.brand.brandName}">BMW</p>
                            </div>
                            <div class="car-details-info-point">
                                <p class="details-point-name">Модель</p>
                                <p class="details-point-info" th:text="${car.model.modelName}">518i</p>
                            </div>
                            <div class="car-details-info-point">
                                <p class="details-point-name">Модель кузова</p>
                                <p class="details-point-info" th:text="${car.body.bodyName}">E34</p>
                            </div>
                            <div class="car-details-info-point">
                                <p class="details-point-name">Тип кузова</p>
                                <p class="details-point-info" th:text="${car.carType.typeName}">Sedan</p>
                            </div>
                        </div>
                        <div class="car-details-admin-btns">
                            <a href="#" th:href="@{/admin(page='carEdit', id=${car.id})}">Редагувати</a>
                            <a href="#" th:href="@{'admin/car/delete/' + ${car.id}}" style="margin-right: 1em">Видалити</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <div th:if="${page=='carEdit'}">
            <h3 style="width: 75%; margin: 0 auto; margin-top: 1em;">Редагування авто:</h3>
            <form th:object="${car}" class="edit-form" th:action="@{/editCar}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}">
                <div class="input-point">
                    <label>Бренд:</label>
                    <select id="brand_select" name="brand.id">
                        <option th:each="brand : ${brands}" th:text="${brand.brandName}" th:selected="${brand.id.equals(car.brand.id)}" th:value="${brand.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=brands)}" class="add-btn">Редагувати бренди</a>
                </div>
                <div class="input-point">
                    <label>Модель:</label>
                    <select id="model_select" name="model.id">
                        <option th:each="model : ${models}" th:class="${model.brand.id}" th:text="${model.modelName}" th:selected="${model.id.equals(car.model.id)}" th:value="${model.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=models)}" class="add-btn">Редагувати моделі</a>
                </div>
                <div class="input-point">
                    <label>Модель кузова:</label>
                    <select id="body_select" name="body.id">
                        <option th:each="body : ${bodies}" th:class="${body.model.id}" th:text="${body.bodyName}" th:selected="${body.id.equals(car.body.id)}" th:value="${body.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=bodies)}" class="add-btn">Редагувати моделі кузовів</a>
                </div>
                <div class="input-point">
                    <label>Тип кузова:</label>
                    <select name="carType.id">
                        <option th:each="carType : ${carTypes}" th:text="${carType.typeName}" th:selected="${carType.id.equals(car.carType.id)}" th:value="${carType.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=carTypes)}" class="add-btn">Редагувати типи кузовів</a>
                </div>
                <div class="input-point">
                    <label>Колір:</label>
                    <select name="color.id">
                        <option th:each="color : ${colors}" th:text="${color.colorName}" th:selected="${color.id.equals(car.color.id)}" th:value="${color.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=colors)}" class="add-btn">Редагувати кольори</a>
                </div>
                <div class="input-point">
                    <label>Двигун:</label>
                    <select name="engine.id">
                        <option th:each="engine : ${engines}" th:text="${engine.name}" th:selected="${engine.id.equals(car.engine.id)}" th:value="${engine.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=engines)}" class="add-btn">Редагувати двигуни</a>
                </div>
                <div class="input-point">
                    <label>Опис:</label>
                    <textarea name="description" th:field="*{description}">
                    </textarea>
                </div>
                <div class="input-point">
                    <label>Короткий опис:</label>
                    <textarea name="subDescription" th:field="*{subDescription}">
                    </textarea>
                </div>
                <div class="input-point">
                    <label>Ціна покупки:</label>
                    <input type="number" name="price" th:field="*{price}">
                </div>
                <div class="input-point">
                    <label>Ціна тест-драйву</label>
                    <input type="number" name="testPrice" th:field="*{testPrice}">
                </div>

                <input type="hidden" th:field="*{image}">
                <div class="image-change">
                    <img style="width: 48%; border: 1px solid black;" th:src="${car.image}">
                    <fieldset>
                        <legend>Зображення</legend>
                        <div>
                            <input type="radio" name="changeImage" checked value="unchecked">
                            <label>Не змінювати зображення</label>
                        </div>
                        <div>
                            <input id="imageselect" type="radio" name="changeImage" value="checked">
                            <label style="margin-right: .5em;">Змінити зображення:</label>
                            <input id="imagefile" name="imagefile" type="file" class="file">
                        </div>
                    </fieldset>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <div th:if="${page=='newCar'}">
            <h3 style="width: 75%; margin: 0 auto; margin-top: 1em;">Додати авто:</h3>
            <form th:object="${car}" class="edit-form" th:action="@{/editCar}" method="post" enctype="multipart/form-data">
                <div class="input-point">
                    <label>Бренд:</label>
                    <select id="brand_select" name="brand.id">
                        <option th:each="brand : ${brands}" th:text="${brand.brandName}" th:value="${brand.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=brands)}" class="add-btn">Редагувати бренди</a>
                </div>
                <div class="input-point">
                    <label>Модель:</label>
                    <select id="model_select" name="model.id">
                        <option th:each="model : ${models}" th:class="${model.brand.id}" th:text="${model.modelName}" th:value="${model.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=models)}" class="add-btn">Редагувати моделі</a>
                </div>
                <div class="input-point">
                    <label>Модель кузова:</label>
                    <select id="body_select" name="body.id">
                        <option th:each="body : ${bodies}" th:class="${body.model.id}" th:text="${body.bodyName}" th:value="${body.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=bodies)}" class="add-btn">Редагувати моделі кузовів</a>
                </div>
                <div class="input-point">
                    <label>Тип кузова:</label>
                    <select name="carType.id">
                        <option th:each="carType : ${carTypes}" th:text="${carType.typeName}" th:value="${carType.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=carTypes)}" class="add-btn">Редагувати типи кузовів</a>
                </div>
                <div class="input-point">
                    <label>Колір:</label>
                    <select name="color.id">
                        <option th:each="color : ${colors}" th:text="${color.colorName}" th:value="${color.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=colors)}" class="add-btn">Редагувати кольори</a>
                </div>
                <div class="input-point">
                    <label>Двигун:</label>
                    <select name="engine.id">
                        <option th:each="engine : ${engines}" th:text="${engine.name}" th:value="${engine.id}"></option>
                    </select>
                    <a href="#" th:href="@{/admin(page=engines)}" class="add-btn">Редагувати двигуни</a>
                </div>
                <div class="input-point">
                    <label>Опис:</label>
                    <textarea name="description" th:field="*{description}">
                    </textarea>
                </div>
                <div class="input-point">
                    <label>Короткий опис:</label>
                    <textarea name="subDescription" th:field="*{subDescription}">
                    </textarea>
                </div>
                <div class="input-point">
                    <label>Ціна покупки:</label>
                    <input type="number" name="price" th:field="*{price}">
                </div>
                <div class="input-point">
                    <label>Ціна тест-драйву</label>
                    <input type="number" name="testPrice" th:field="*{testPrice}">
                </div>

                <input type="hidden" th:field="*{engine.id}">
                <input type="hidden" th:field="*{image}">
                <div class="image-change">
                    <img style="width: 48%; border: 1px solid black;" th:src="${car.image}">
                    <fieldset>
                        <legend>Зображення</legend>
                        <div>
                            <input type="radio" name="changeImage" checked value="unchecked">
                            <label>Не змінювати зображення</label>
                        </div>
                        <div>
                            <input id="imageselect" type="radio" name="changeImage" value="checked">
                            <label style="margin-right: .5em;">Змінити зображення:</label>
                            <input id="imagefile" name="imagefile" type="file" class="file">
                        </div>
                    </fieldset>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <div th:if="${page=='brands'}">
            <h3 style="margin: 1em 0;">Редагувати бренди:</h3>
            <table class="data-table" border="1px">
                <tr>
                    <th>Код</th>
                    <th>Назва бренду</th>
                    <th>Редагувати</th>
                    <th>Видалити</th>
                </tr>
                <tr th:each="brand : ${brands}">
                    <td th:text="${brand.id}"></td>
                    <td th:text="${brand.brandName}"></td>
                    <td><a class="table-btn" href="#" th:href="@{/admin(page='brandEdit', id=${brand.id})}">Редагувати</a></td>
                    <td><a class="table-btn" href="#" th:href="@{'/admin/brandDelete/' + ${brand.id}}">Видалити</a></td>
                </tr>
            </table>
            <a href="#" class="add-data-btn" th:href="@{/admin(page='newBrand')}">Додати новий</a>
        </div>

        <div th:if="${page=='brandEdit'}">
            <form class="edit-form" th:object="${brand}" th:action="@{/updateBrand}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="input-point">
                    <label>Назва бренду:</label>
                    <input type="text" name="brandName" th:field="*{brandName}" th:class="${errors} ? 'input-error'">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>
            </form>
        </div>

        <div th:if="${page=='newBrand'}">
            <form class="edit-form" th:object="${brand}" th:action="@{/updateBrand}" method="post">
                <div class="input-point">
                    <label>Назва бренду:</label>
                    <input type="text" name="brandName" th:field="*{brandName}" th:class="${errors} ? 'input-error'">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>

            </form>
        </div>

        <div th:if="${page=='models'}">
            <h3 style="margin: 1em 0;">Редагувати моделі:</h3>
            <table class="data-table" border="1px">
                <tr>
                    <th>Код</th>
                    <th>Назва моделі</th>
                    <th>Назва бренду</th>
                    <th>Редагувати</th>
                </tr>
                <tr th:each="model : ${models}">
                    <td th:text="${model.id}"></td>
                    <td th:text="${model.modelName}"></td>
                    <td th:text="${model.brand.brandName}"></td>
                    <td><a class="table-btn" href="#" th:href="@{/admin(page='modelEdit', id=${model.id})}">Редагувати</a></td>
                </tr>
            </table>
            <a href="#" class="add-data-btn" th:href="@{/admin(page='newModel')}">Додати новий</a>
        </div>

        <div th:if="${page=='modelEdit'}">
            <form class="edit-form" th:object="${model}" th:action="@{/updateModel}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="input-point">
                    <label>Назва моделі:</label>
                    <input type="text" name="brandName" th:field="*{modelName}" th:class="${errors} ? 'input-error'">
                </div>
                <div class="input-point">
                    <label>Бренд:</label>
                    <select name="brand.id" th:class="${errors} ? 'input-error'">
                        <option th:each="brand: ${brands}" th:text="${brand.brandName}" th:value="${brand.id}"></option>
                    </select>
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>
            </form>
        </div>

        <div th:if="${page=='newModel'}">
            <form class="edit-form" th:object="${model}" th:action="@{/updateModel}" method="post">
                <div class="input-point">
                    <label>Назва моделі:</label>
                    <input type="text" name="brandName" th:field="*{modelName}" th:class="${erros} ? 'input-error'">
                </div>
                <div class="input-point">
                    <label>Бренд:</label>
                    <select name="brand.id" th:class="${errors} ? 'input-error'">
                        <option th:each="brand: ${brands}" th:text="${brand.brandName}" th:value="${brand.id}"></option>
                    </select>
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>

            </form>
        </div>

        <div th:if="${page=='bodies'}">
            <h3 style="margin: 1em 0;">Редагувати моделі кузовів:</h3>
            <table class="data-table" border="1px">
                <tr>
                    <th>Код</th>
                    <th>Назва моделі кузова</th>
                    <th>Назва моделі</th>
                    <th>Редагувати</th>
                </tr>
                <tr th:each="body : ${bodies}">
                    <td th:text="${body.id}"></td>
                    <td th:text="${body.bodyName}"></td>
                    <td th:text="${body.model.modelName}"></td>
                    <td><a class="table-btn" href="#" th:href="@{/admin(page='bodyEdit', id=${body.id})}">Редагувати</a></td>
                </tr>
            </table>
            <a href="#" class="add-data-btn" th:href="@{/admin(page='newBody')}">Додати новий</a>
        </div>

        <div th:if="${page=='bodyEdit'}">
            <form class="edit-form" th:object="${body}" th:action="@{/updateBody}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="input-point">
                    <label>Назва моделі кузова:</label>
                    <input type="text" name="bodyName" th:field="*{bodyName}" th:class="${errors} ? 'input-error'">
                </div>
                <div class="input-point">
                    <label>Модель:</label>
                    <select name="model.id" th:class="${errors} ? 'input-error'">
                        <option th:each="model: ${models}" th:text="${model.modelName}" th:value="${model.id}"></option>
                    </select>
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>
            </form>
        </div>

        <div th:if="${page=='newBody'}">
            <form class="edit-form" th:object="${body}" th:action="@{/updateBody}" method="post">
                <div class="input-point">
                    <label>Назва моделі кузова:</label>
                    <input type="text" name="bodyName" th:field="*{bodyName}" th:class="${errors} ? 'input-error'">
                </div>
                <div class="input-point">
                    <label>Модель:</label>
                    <select name="model.id" th:class="${errors} ? 'input-error'">
                        <option th:each="model: ${models}" th:text="${model.modelName}" th:value="${model.id}"></option>
                    </select>
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>

            </form>
        </div>

        <div th:if="${page=='carTypes'}">
            <h3 style="margin: 1em 0;">Редагувати типи кузовів:</h3>
            <table class="data-table" border="1px">
                <tr>
                    <th>Код</th>
                    <th>Назва типу кузова</th>
                    <th>Редагувати</th>
                    <th>Видалити</th>
                </tr>
                <tr th:each="carType : ${carTypes}">
                    <td th:text="${carType.id}"></td>
                    <td th:text="${carType.typeName}"></td>
                    <td><a class="table-btn" href="#" th:href="@{/admin(page='typeEdit', id=${carType.id})}">Редагувати</a></td>
                    <td><a class="table-btn" href="#" th:href="@{'/admin/typeDelete/' + ${carType.id}}">Видалити</a></td>
                </tr>
            </table>
            <a href="#" class="add-data-btn" th:href="@{/admin(page='newType')}">Додати новий</a>
        </div>

        <div th:if="${page=='typeEdit'}">
            <form class="edit-form" th:object="${type}" th:action="@{/updateType}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="input-point">
                    <label>Назва типу кузова:</label>
                    <input type="text" name="typeName" th:field="*{typeName}" th:class="${errors} ? 'input-error'">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>
            </form>
        </div>

        <div th:if="${page=='newType'}">
            <form class="edit-form" th:object="${type}" th:action="@{/updateType}" method="post">
                <div class="input-point">
                    <label>Назва типу кузова:</label>
                    <input type="text" name="typeName" th:field="*{typeName}" th:class="${errors} ? 'input-error'">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>

            </form>
        </div>

        <div th:if="${page=='colors'}">
            <h3 style="margin: 1em 0;">Редагувати кольори:</h3>
            <table class="data-table" border="1px">
                <tr>
                    <th>Код</th>
                    <th>Назва кольору</th>
                    <th>Редагувати</th>
                    <th>Видалити</th>
                </tr>
                <tr th:each="color : ${colors}">
                    <td th:text="${color.id}"></td>
                    <td th:text="${color.colorName}"></td>
                    <td><a class="table-btn" href="#" th:href="@{/admin(page='colorEdit', id=${color.id})}">Редагувати</a></td>
                    <td><a class="table-btn" href="#" th:href="@{'/admin/colorDelete/' + ${color.id}}">Видалити</a></td>
                </tr>
            </table>
            <a href="#" class="add-data-btn" th:href="@{/admin(page='newColor')}">Додати новий</a>
        </div>

        <div th:if="${page=='colorEdit'}">
            <form class="edit-form" th:object="${color}" th:action="@{/updateColor}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="input-point">
                    <label>Назва кольору:</label>
                    <input type="text" name="colorName" th:field="*{colorName}" th:class="${errors} ? 'input-error'">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>
            </form>
        </div>

        <div th:if="${page=='newColor'}">
            <form class="edit-form" th:object="${color}" th:action="@{/updateColor}" method="post">
                <div class="input-point">
                    <label>Назва кольору:</label>
                    <input type="text" name="colorName" th:field="*{colorName}" th:class="${errors} ? 'input-error'">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                </div>
            </form>
        </div>

        <div th:if="${page=='engines'}">
            <h3 style="margin: 1em 0;">Редагувати двигуни:</h3>
            <table class="data-table" border="1px">
                <tr>
                    <th>Код</th>
                    <th>Назва двигуна</th>
                    <th>Тип двигуна</th>
                    <th>Об'єм</th>
                    <th>Потужність</th>
                    <th>Конфігурація</th>
                    <th>К-сть циліндрів</th>
                    <th>Редагувати</th>
                    <th>Видалити</th>
                </tr>
                <tr th:each="engine : ${engines}">
                    <td th:text="${engine.id}"></td>
                    <td th:text="${engine.name}"></td>
                    <td th:text="${engine.type.description}"></td>
                    <td th:text="${engine.capacity}"></td>
                    <td th:text="${engine.power}"></td>
                    <td th:text="${engine.config.description}"></td>
                    <td th:text="${engine.cylinders}"></td>
                    <td><a class="table-btn" href="#" th:href="@{/admin(page='engineEdit', id=${engine.id})}">Редагувати</a></td>
                    <td><a class="table-btn" href="#" th:href="@{'/admin/engineDelete/' + ${engine.id}}">Видалити</a></td>
                </tr>
            </table>
            <a href="#" class="add-data-btn" th:href="@{/admin(page='newEngine')}">Додати новий</a>
        </div>

        <div th:if="${page=='engineEdit'}">
            <form class="edit-form" th:object="${engine}" th:action="@{/updateEngine}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="input-point">
                    <label>Назва двигуна:</label>
                    <input type="text" name="name" th:field="*{name}">
                </div>
                <div class="input-point">
                    <label>Тип двигуна:</label>
                    <select name="type">
                        <option th:each="engineType : ${T(uniloft.springframework.spring5carshop.model.enums.EngineType).values()}" th:selected="${engineType.description.equals(engine.type.description)}" th:text="${engineType.description}" th:value="${engineType}"></option>
                    </select>
                </div>
                <div class="input-point">
                    <label>Об'єм двигуна:</label>
                    <input type="number" name="capacity" th:field="*{capacity}">
                </div>
                <div class="input-point">
                    <label>Потужність двигуна:</label>
                    <input type="number" name="power" th:field="*{power}">
                </div>
                <div class="input-point">
                    <label>Конфігурація двигуна:</label>
                    <select name="config">
                        <option th:each="engineConfig : ${T(uniloft.springframework.spring5carshop.model.enums.EngineConfig).values()}" th:selected="${engineConfig.description.equals(engine.config.description)}" th:text="${engineConfig.description}" th:value="${engineConfig}"></option>
                    </select>
                </div>
                <div class="input-point">
                    <label>К-сть циліндрів:</label>
                    <input type="number" name="cylinders" th:field="*{cylinders}">
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <div th:if="${page=='newEngine'}">
            <form class="edit-form" th:object="${engine}" th:action="@{/updateEngine}" method="post">
                <div class="input-point">
                    <label>Назва двигуна:</label>
                    <input type="text" name="name" th:field="*{name}">
                </div>
                <div class="input-point">
                    <label>Тип двигуна:</label>
                    <select name="type">
                        <option th:each="engineType : ${T(uniloft.springframework.spring5carshop.model.enums.EngineType).values()}" th:text="${engineType.description}" th:value="${engineType}"></option>
                    </select>
                </div>
                <div class="input-point">
                    <label>Об'єм двигуна:</label>
                    <input type="number" name="capacity" th:field="*{capacity}">
                </div>
                <div class="input-point">
                    <label>Потужність двигуна:</label>
                    <input type="number" name="power" th:field="*{power}">
                </div>
                <div class="input-point">
                    <label>Конфігурація двигуна:</label>
                    <select name="config">
                        <option th:each="engineConfig : ${T(uniloft.springframework.spring5carshop.model.enums.EngineConfig).values()}" th:text="${engineConfig.description}" th:value="${engineConfig}"></option>
                    </select>
                </div>
                <div class="input-point">
                    <label>К-сть циліндрів:</label>
                    <input type="number" name="cylinders" th:field="*{cylinders}">
                </div>
                <div class="input-point">
                    <input type="submit" value="Зберегти">
                    <div class="error-block" th:if="${errors}">
                        <ul>
                            <li th:each="err : ${errors}">
                                <i class="fas fa-times"></i><p th:text="${err.getDefaultMessage()}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <div th:if="${page=='buys'}">
            <h3 style="margin: 1em 0;">Покупки авто: </h3>
            <table class="data-table" border="1px">
                <tr>
                    <th>Код</th>
                    <th>Авто</th>
                    <th>Клієнт</th>
                    <th>Дата</th>
                    <th>Ціна (₴)</th>
                </tr>
                <tr th:each="buy : ${buys}">
                    <td th:text="${buy.id}"></td>
                    <td th:text="'(' + ${buy.car.id} + ') ' + ${buy.car.brand.brandName} + ' ' + ${buy.car.model.modelName} + ' ' + ${buy.car.body.bodyName}"></td>
                    <td th:text="'(' + ${buy.customer.id} + ') ' + ${buy.customer.firstName} + ' ' + ${buy.customer.lastName}"></td>
                    <td th:text="${buy.date}"></td>
                    <td th:text="${buy.price}"></td>
                </tr>
            </table>
            <a href="#" class="report-btn" th:href="@{/createBuysReport}"><i class="fas fa-print"></i><p>Звіт</p></a>
        </div>

        <div th:if="${page=='tests'}">
            <h3 style="margin: 1em 0;">Тест-драйви авто: </h3>
            <table class="data-table" border="1px">
                <tr>
                    <th>Код</th>
                    <th>Авто</th>
                    <th>Клієнт</th>
                    <th>Дата</th>
                    <th>Ціна (₴)</th>
                </tr>
                <tr th:each="test : ${tests}">
                    <td th:text="${test.id}"></td>
                    <td th:text="'(' + ${test.car.id} + ') ' + ${test.car.brand.brandName} + ' ' + ${test.car.model.modelName} + ' ' + ${test.car.body.bodyName}"></td>
                    <td th:text="'(' + ${test.customer.id} + ') ' + ${test.customer.firstName} + ' ' + ${test.customer.lastName}"></td>
                    <td th:text="${test.date}"></td>
                    <td th:text="${test.price}"></td>
                </tr>
            </table>
            <a href="#" class="report-btn" th:href="@{/createTestsReport}"><i class="fas fa-print"></i><p>Звіт</p></a>
        </div>

        <div th:if="${page=='customers'}">
            <h3 style="margin: 1em 0;">Клієнти: </h3>
            <table class="data-table" border="1px">
                <tr>
                    <th>Код</th>
                    <th>Ім'я</th>
                    <th>Прізвище</th>
                    <th>Номер телефону</th>
                    <th>Адреса</th>
                </tr>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.telephone}"></td>
                    <td th:text="${customer.address}"></td>
                </tr>
            </table>
            <a href="#" class="report-btn" th:href="@{/createCustomersReport}"><i class="fas fa-print"></i><p>Звіт</p></a>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../static/resources/js/numbercount.js" th:src="@{resources/js/numbercount.js}"></script>
<script type="text/javascript" src="../static/resources/js/parallax.js" th:src="@{resources/js/parallax.js}"></script>
<script src="../static/resources/js/chainedselects.js" type="text/javascript"
        th:src="@{resources/js/chainedselects.js}"></script>
<script src="../static/resources/js/slider.js" type="text/javascript" th:src="@{resources/js/slider.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://kit.fontawesome.com/de94abba4d.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function (){
        $('#imagefile').click(function (){

            $('#imageselect').attr('checked', true);
        });
    });
</script>
</html>