<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link th:href="@{/resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.png" th:href="@{/resources/images/favicon.jpg}" type="img/jpg">
    <title>UniCar - Адміністрування</title>
</head>
<body>
<header class="admin-header">
    <div class="wrap">
        <nav>
            <ul>
                <li><a href="#">Автомобілі</a></li>
                <li><a href="#">Покупки авто</a></li>
                <li><a href="#">Тест-драйви</a></li>
                <li><a href="#">Клієнти</a></li>
            </ul>
            <ul class="logout-item">
                <form th:action="@{/logout}" method="post">
                    <li><button class="logout-btn" type="submit">Вихід</button></li>
                </form>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="wrap">
        <div class="data">
            <form th:action="@{/colorAdd}" method="post">
                <h3>Кольори:</h3>
                <input type="text" name="colorName">
                <input type="submit" value="Додати">
            </form>
            <table class="data-table">
                <tr>
                    <th>ID</th>
                    <th>Назва кольору</th>
                </tr>
                <tr th:each="color : ${colors}">
                    <td th:text="${color.id}"></td>
                    <td th:text="${color.color}"></td>
                </tr>
            </table>
        </div>

        <div class="data">
            <form th:action="@{/brandAdd}" method="post">
                <h3>Бренди:</h3>
                <input type="text" name="brandName">
                <input type="submit" value="Додати">
            </form>
            <table class="data-table">
                <tr>
                    <th>ID</th>
                    <th>Назва Бренду</th>
                </tr>
                <tr th:each="brand : ${brands}">
                    <td th:text="${brand.id}"></td>
                    <td th:text="${brand.brandName}"></td>
                </tr>
            </table>
        </div>

        <div class="data">
            <form th:action="@{/modelAdd}" method="post">
                <h3>Моделі:</h3>
                <select name="brandName">
                    <option th:each="brand : ${brands}" th:text="${brand.brandName}" th:value="${brand.brandName}"></option>
                </select><br>
                <input type="text" name="modelName">
                <input type="submit" value="Додати">
            </form>
            <table class="data-table">
                <tr>
                    <th>ID</th>
                    <th>Назва моделі</th>
                    <th>Назва бренду</th>
                </tr>
                <tr th:each="model : ${models}">
                    <td th:text="${model.id}"></td>
                    <td th:text="${model.modelName}"></td>
                    <td th:text="${model.brand.brandName}"></td>
                </tr>
            </table>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>