<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link th:href="@{/resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.png" th:href="@{/resources/images/favicon.jpg}" type="img/jpg">
    <title>UniCar - Авторизація</title>
</head>
<body>
<div class="login-block">
    <form th:action="@{/login}" class="login-form" method="post">
        <div>
            <label>Логін: </label>
            <input type="text" name="username" value="user"/>
        </div>
        <div>
            <label>Пароль: </label>
            <input type="password" name="password" value="password"/>
        </div>
        <input type="submit" value="Увійти"/>
    </form>
</div>
</body>
</html>