<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link th:href="@{resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.png" th:href="@{/resources/images/favicon.jpg}" type="img/jpg">
    <title>UniCar - Автосалон</title>
</head>
<body>
<header class="not-index">
    <section class="parallax-window header-section" data-parallax="scroll"
             data-image-src="../static/resources/images/background-car2.jpg"
             th:data-image-src="@{resources/images/background-car2.jpg}"
             style="padding: 1em 0 1.5em;">
        <div class="wrap">
            <section class="top-bar">
                <section class="top-bar-section">
                    <div class="top-bar-inner">
                        <img class="top-bar-icon" src="../static/resources/images/icons/email.png"
                             th:src="@{resources/images/icons/email.png}">
                        <p class="top-bar-section-text">uniloftsky@gmail.com</p>
                    </div>
                    <div class="top-bar-inner">
                        <img class="top-bar-icon" src="../static/resources/images/icons/four-oclock.png"
                             th:src="@{resources/images/icons/four-oclock.png}">
                        <p class="top-bar-section-text" th:text="${currentDate}">20.12.2002 02:00 AM</p>
                    </div>
                </section>
                <section class="top-bar-section">
                    <div class="top-bar-inner">
                        <img class="top-bar-icon" src="../static/resources/images/icons/phone-call.png"
                             th:src="@{resources/images/icons/phone-call.png}">
                        <p class="top-bar-section-text">(097)127-93-32</p>
                    </div>
                </section>
            </section>
        </div>
        <section class="sub-header-section">
            <div class="wrap">
                <div class="sub-header-in">
                    <div class="sub-header">
                        <section class="logo-block">
                            <img class="logo-img" src="../static/resources/images/logo-light.png"
                                 th:src="@{resources/images/logo-light.png}">
                        </section>
                        <nav>
                            <ul>
                                <li><a href="#" th:href="@{/}">Головна</a></li>
                                <li><a th:href="@{/catalog(page=0, size=5)}">Каталог авто</a></li>
                                <li><a href="#" th:href="@{/contact}">Зв'язатися</a></li>
                                <li><a href="#" th:href="@{/about}">Про нас</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="sub-header">
                        <h2>Зв'язатися</h2>
                        <div class="header-path">
                            <div>
                                <i class="fa fa-home"></i>
                                <a href="#" th:href="@{/}">Головна</a>
                            </div>
                            <div>
                                <i class="fa fa-angle-double-right"></i>
                                <a href="#" th:href="@{/contact}">Зв'язатися</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
</header>
<main>

    <section class="contact-section">
        <div class="wrap">
            <h4>Ми б хотіли почути вас</h4>
            <h2>ЗВ'ЯЗАТИСЯ У ОДИН ДОТИК!</h2>
            <hr class="featurecar-hr1">
            <hr class="featurecar-hr2">
            <div class="contacts-in">
                <div class="contact">
                    <i class="fa fa-map-marker"></i>
                    <p class="contact-title">Адреса</p>
                    <p class="contact-info">вул. Соборна, 18</p>
                </div>
                <div class="contact">
                    <i class="fa fa-phone"></i>
                    <p class="contact-title">Телефон</p>
                    <p class="contact-info">(097) 127 9332</p>
                </div>
                <div class="contact">
                    <i class="fa fa-envelope-o"></i>
                    <p class="contact-title">Емаіл</p>
                    <p class="contact-info">mail@mail.com</p>
                </div>
                <div class="contact">
                    <i class="fa fa-fax"></i>
                    <p class="contact-title">ФАКС</p>
                    <p class="contact-info">(097) 127 9332</p>
                </div>
            </div>

            <div class="contact-form-block">
                <form class="contact-form">
                    <div class="contact-form-in">
                        <div class="contact-form-inputs">
                            <input class="contact-form-input" type="text" name="contactName" placeholder="Ім'я*">
                            <input class="contact-form-input" type="text" name="contactEmail" placeholder="Електронна пошта*">
                            <input class="contact-form-input" type="text" name="contactPhone" placeholder="Телефон*">
                        </div>
                        <div class="contact-form-message">
                            <textarea placeholder="Коментар*" name="contactMessage"></textarea>
                        </div>
                        <input type="submit">
                    </div>
                    <div class="contact-form-in">
                        <p class="contact-time-title">ЧАСИ РОБОТИ</p>
                        <div class="contact-times">
                            <div class="contact-time">
                                <p class="contact-time-day">Понеділок</p>
                                <p class="contact-work">з 9:00 до 21:00</p>
                            </div>
                            <div class="contact-time">
                                <p class="contact-time-day">Вівторок</p>
                                <p class="contact-work">з 9:00 до 21:00</p>
                            </div>
                            <div class="contact-time">
                                <p class="contact-time-day">Середа</p>
                                <p class="contact-work">з 9:00 до 21:00</p>
                            </div>
                            <div class="contact-time">
                                <p class="contact-time-day">Четвер</p>
                                <p class="contact-work">з 9:00 до 21:00</p>
                            </div>
                            <div class="contact-time">
                                <p class="contact-time-day">П'ятниця</p>
                                <p class="contact-work">з 9:00 до 21:00</p>
                            </div>
                            <div class="contact-time">
                                <p class="contact-time-day">Субота</p>
                                <p class="contact-work">з 9:00 до 21:00</p>
                            </div>
                            <div class="contact-time">
                                <p class="contact-time-day">Неділя</p>
                                <p class="contact-work closed">зачинено</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contact-features">
                <div class="contact-feature">
                    <div class="contact-feature-icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="contact-feature-content">
                        <p class="feature-title">ЧАСИ РОБОТИ</p>
                        <p class="feature-text">Працюємо шість днів на тиждень по дванадцять годин</p>
                    </div>
                </div>
                <div class="contact-feature">
                    <div class="contact-feature-icon">
                        <i class="fa fa-support"></i>
                    </div>
                    <div class="contact-feature-content">
                        <p class="feature-title">НАШ ЦЕНТР ПІДТРИМКИ</p>
                        <p class="feature-text">Центр підтримки працює 24/7 і завжди готові відповісти</p>
                    </div>
                </div>
                <div class="contact-feature">
                    <div class="contact-feature-icon">
                        <i class="fa fa-info"></i>
                    </div>
                    <div class="contact-feature-content">
                        <p class="feature-title">ІНФОРМАЦІЯ</p>
                        <p class="feature-text">Якщо виникли додаткові запитання, напишіть нам або зателефонуйте</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="map-section">
        <div style="overflow:hidden;position: relative;">
            <iframe class="map-frame" src="https://maps.google.com/maps?hl=en&amp;q=London+(%D0%9A%D0%B0%D1%80%D1%82%D0%B0)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
        </div>
    </section>

</main>
<footer>

    <section class="parallax-window footer-section" data-parallax="scroll"
             data-image-src="../static/resources/images/background-car3.jpg"
             th:data-image-src="@{resources/images/background-car3.jpg}"
             style="padding-bottom: 1.5em; padding-left: 0; padding-right: 0;">
        <div class="wrap">
            <div class="footer-section-in">
                <div class="footer-top">
                    <div class="footer-info">
                        <div class="logo-footer-img-block">
                            <img class="logo-footer-img" src="../static/resources/images/logo-light.png"
                                 th:src="@{resources/images/logo-light.png}">
                        </div>
                        <div class="footer-content">
                            <p class="footer-text">Пропонуємо найкращі послуги з найкращою якістю і найкращим
                                сервісом!</p>
                        </div>
                        <div class="contacts">
                            <div class="footer-contact-in">
                                <i class="fa fa-map-marker"></i>
                                <p class="footer-contact">вул. Соборна, 18</p>
                            </div>
                            <div class="footer-contact-in">
                                <i class="fa fa-phone"></i>
                                <p class="footer-contact">(007) 123 456 7890</p>
                            </div>
                            <div class="footer-contact-in">
                                <i class="fa fa-envelope-o"></i>
                                <p class="footer-contact">support@website.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-info">
                        <p class="footer-info-title">Корисні посилання</p>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Заміна масла і фільтрів</a>
                        </div>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Заміна тормозних колодок</a>
                        </div>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Заміна ременя</a>
                        </div>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Перевірка перед придбанням</a>
                        </div>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Заміна стартера</a>
                        </div>
                    </div>
                    <div class="footer-info">
                        <p class="footer-info-title">Останні авто</p>
                        <div class="recent-cars">
                            <div class="recent-car" th:each="car : ${recentCars}">
                                <div class="recent-car-img-block">
                                    <img class="recent-car-img" src="../static/resources/images/mercedes.jpg"
                                         th:src="${car.image}">
                                </div>
                                <div class="recent-car-info">
                                    <a th:href="@{'/catalog/car/' + ${car.id}}" class="recent-car-name"
                                       th:text="${car.brand.brandName} + ' ' + ${car.model.modelName}">Mercedes Benz</a>
                                    <div>
                                        <i class="fa fa-calendar"></i>
                                        <p class="recent-car-date" th:text="${currentDate}">12.20.2001</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-info">
                        <p class="footer-info-title">Підпишіться на наші новини</p>
                        <p class="footer-text">Будьте в курсі останніх новинок і останніх автомобілів. Залиште свою
                            пошту.</p>
                        <form class="footer-form">
                            <input type="email" placeholder="Введіть свою пошту" name="email-sub">
                            <br>
                            <input type="submit" value="Підписатися">
                        </form>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-q">
                        <div class="footer-q-side">
                            <p class="footer-q-title">В пошуках нової автівки?</p>
                            <p class="footer-q-text">Детальніше познайомтесь з набором автомобілів нашої компаніїї.</p>
                        </div>
                        <a href="#" th:href="@{'/catalog'}" class="btn-q">Детальніше</a>
                    </div>
                    <div class="footer-q">
                        <div class="footer-q-side">
                            <p class="footer-q-title">Бажаєте продати своє авто?</p>
                            <p class="footer-q-text">Ми співпрацюємо з компаніями, що забезпечують швидку продажу вашого авто.</p>
                        </div>
                        <a href="#" th:href="@{'/catalog'}" class="btn-q">Детальніше</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-in">
                <div class="footer-bottom-side">
                    <p>©Car Dealer Developed by <span style="color: #DB2D2E;">Anton Kulyk</span></p>
                </div>
                <div class="footer-bottom-side">
                    <ul>
                        <li><a href="#">Політика конфіденційності</a></li>
                        <li><a href="#">Правила та умови</a></li>
                        <li><a href="#" th:href="@{'/contact'}">Зв'язатись</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../static/resources/js/numbercount.js" th:src="@{resources/js/numbercount.js}"></script>
<script type="text/javascript" src="../static/resources/js/parallax.js" th:src="@{resources/js/parallax.js}"></script>
<script src="../static/resources/js/chainedselects.js" type="text/javascript"
        th:src="@{resources/js/chainedselects.js}"></script>
<script src="../static/resources/js/slider.js" type="text/javascript" th:src="@{resources/js/slider.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://kit.fontawesome.com/de94abba4d.js" crossorigin="anonymous"></script>
</body>
</html>