<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link th:href="@{resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.png" th:href="@{/resources/images/favicon.jpg}" type="img/jpg">
    <title>UniCar - Автосалон</title>
</head>
<body>
<header>
    <div class="wrap">
        <section class="top-bar">
            <section class="top-bar-section">
                <div class="top-bar-inner">
                    <img class="top-bar-icon" src="../static/resources/images/icons/email.png"
                         th:src="@{resources/images/icons/email.png}">
                    <p class="top-bar-section-text">uniloftsky@gmail.com</p>
                </div>
                <div class="top-bar-inner">
                    <img class="top-bar-icon" src="../static/resources/images/icons/four-oclock.png"
                         th:src="@{resources/images/icons/four-oclock.png}">
                    <p class="top-bar-section-text" th:text="${currentDate}">20.12.2002 02:00 AM</p>
                </div>
            </section>
            <section class="top-bar-section">
                <div class="top-bar-inner">
                    <img class="top-bar-icon" src="../static/resources/images/icons/phone-call.png"
                         th:src="@{resources/images/icons/phone-call.png}">
                    <p class="top-bar-section-text">(097)127-93-32</p>
                </div>
            </section>
        </section>
    </div>
</header>
<main>
    <div class="wrap">

        <section class="logo-block">
            <img class="logo-img" src="../static/resources/images/logo.png" th:src="@{resources/images/logo.png}">
        </section>

        <nav>
            <ul>
                <li><a href="#">Головна</a></li>
                <li><a href="#">Купити авто</a></li>
                <li><a href="#">Тест-драйв авто</a></li>
                <li><a href="#">Про нас</a></li>
            </ul>
        </nav>

    </div>
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__item">
                <div class="slider__item-inner"
                     style="background: url('resources/images/slider/slider1.jpg') no-repeat; background-position: 50% 90%; background-size: cover">
                    <div class="wrap">
                        <div class="slider__item-content-one">
                            <div>
                                <p>Сучасні автомобілі</p>
                                <a class="slider-btn btn-one" href="#">Перейти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-inner"
                     style="background: url('resources/images/slider/slider2.jpg') no-repeat; background-position: center; background-size: cover">
                    <div class="wrap">
                        <div class="slider__item-content-two">
                            <div>
                                <p>Старий чи новий?</p>
                                <a class="slider-btn" href="#">Перейти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-inner"
                     style="background: url('resources/images/slider/slider3.jpg') no-repeat; background-position: 50% 90%; background-size: cover">
                    <div class="wrap">
                        <div class="slider__item-content-one">
                            <p>Спробуй тест-драйв</p>
                            <a class="slider-btn btn-one" href="#">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>

    <div class="wrap">
        <section class="features-section">
            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-car"></i>
                </div>
                <p>New Vehicles</p>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-tag"></i>
                </div>
                <p>Special offers</p>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-wrench"></i>
                </div>
                <p>Vehicle service</p>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-phone"></i>
                </div>
                <p>Contact us</p>
            </div>
        </section>

        <section class="intro-section">
            <div class="intro-img-block">
                <img class="intro-img" src="../static/resources/images/car.jpg" th:src="@{resources/images/car.jpg}">
            </div>
            <div class="intro-content">
                <h4 class="intro-content-title">Find your dream car</h4>
                <p class="intro-content-subtitle">Everything you need to build an amazing dealership website</p>
                <p class="intro-content-main">Suitable for any car dealer websites, business or corporate websites.
                    The Theme has been Created especially for Automotive Dealers,
                    car resellers, car service stations, mechanic workshop and auto motor retailers. mechanic workshop
                    and auto motor retailers.mechanic workshop and auto motor retailers.</p>
            </div>
        </section>
    </div>
    <section class="parallax-window find_car-section" data-parallax="scroll"
             data-image-src="../static/resources/images/background-car.jpg"
             th:data-image-src="@{resources/images/background-car.jpg}">
        <div class="wrap">
            <div class="find-block">
                <h2>Find a dream car</h2>
                <hr id="form-hr1">
                <hr id="form-hr2">

                <form class="find-form" th:action="@{/findCar}" method="post">
                    <div class="form-in">
                        <div class="form-section">
                            <label>Select brand</label>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
                            <select id="brand_select" name="brandName">
                                <option th:each="car : ${cars}" th:class="${car.brandName}" th:value="${car.brandName}"
                                        th:text="${car.brandName}">BMW
                                </option>
                                <option th:remove="all">Mercedes-Benz</option>
                                <option th:remove="all">Toyota</option>
                            </select>
                            <label>Select body</label>
                            <select id="body_select" name="bodyName">
                                <option th:each="car : ${cars}" th:class="${car.modelName}" th:value="${car.bodyName}"
                                        th:text="${car.bodyName}">s500
                                </option>
                                <option th:remove="all">s120</option>
                                <option th:remove="all">e34</option>
                            </select>
                            <label>Select type</label>
                            <select id="cartype_select" name="carType">
                                <option th:each="carType : ${carTypes}" th:value="${carType.id}"
                                        th:text="${carType.typeName}"></option>
                            </select>
                        </div>
                        <div class="form-section">
                            <label>Select model</label>
                            <select id="model_select" name="modelName">
                                <option th:each="car : ${cars}" th:class="${car.brandName}" th:value="${car.modelName}"
                                        th:text="${car.modelName}">Mers
                                </option>
                                <option th:remove="all">Toyota</option>
                                <option th:remove="all">BMW</option>
                            </select>
                            <label>Engine type</label>
                            <select name="engineType">
                                <option th:each="type : ${T(uniloft.springframework.spring5carshop.model.enums.EngineType).values()}"
                                        th:text="${type.description}" th:value="${type}">
                                </option>
                                <option th:remove="all">PETROL</option>
                            </select>
                            <label>Select color</label>
                            <select id="color" name="color">
                                <option th:each="color : ${colors}" th:value="${color.id}"
                                        th:text="${color.color}"></option>
                            </select>
                        </div>
                    </div>
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </section>

    <section class="feature_cars-section">
        <div class="wrap">
            <div class="feature_cars-section-in">
                <h4>Check out our recent cars</h4>
                <h2>FEATURE CAR</h2>
                <hr id="featurecar-hr1">
                <hr id="featurecar-hr2">

                <div class="cars-block">
                    <div th:each="car : ${cars}" class="car">
                        <div class="car-img-block">
                            <img class="car-img" src="../static/resources/images/mercedes.jpg"
                                 th:src="${car.image}">
                        </div>
                        <div class="extra-car-info">
                            <div>
                                <i class="fa fa-paint-brush"></i>
                                <p th:text="${car.color.color}">Color</p>
                            </div>
                            <div>
                                <i class="fa fa-cogs"></i>
                                <p th:text="${car.engine.type.description}">Diesel</p>
                            </div>
                            <div>
                                <i class="fa fa-car"></i>
                                <p th:text="${car.carType.typeName}">Sedan</p>
                            </div>
                        </div>
                        <p th:text="${car.brandName} + ' ' + ${car.modelName}" class="car-title">Mercedes-Benz</p>
                        <hr class="car-hr1">
                        <hr class="car-hr2">
                        <a href="#" th:text=" '$' + ${car.price}" class="btn-car">$999</a>
                    </div>
                    <div class="car">
                        <div class="car-img-block">
                            <img class="car-img" src="../static/resources/images/car.jpg"
                                 th:src="@{resources/images/car.jpg}">
                        </div>
                        <div class="extra-car-info">
                            <div>
                                <i class="fa fa-paint-brush"></i>
                                <p>Color</p>
                            </div>
                            <div>
                                <i class="fa fa-cogs"></i>
                                <p>Diesel</p>
                            </div>
                            <div>
                                <i class="fa fa-car"></i>
                                <p>Sedan</p>
                            </div>
                        </div>
                        <p class="car-title">Mercedes-Benz</p>
                        <hr class="car-hr1">
                        <hr class="car-hr2">
                        <a href="#" class="btn-car">$999</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="parallax-window find_car-section" data-parallax="scroll"
             data-image-src="../static/resources/images/background-car2.jpg"
             th:data-image-src="@{resources/images/background-car2.jpg}">
        <div class="wrap">
            <div class="why-section">
                <h4>Because We are ultra creative agency</h4>
                <h2>WHY CHOOSE US</h2>
                <hr id="why-hr1">
                <hr id="why-hr2">
                <div class="arg-block">
                    <div class="arg">
                        <i class="fa fa-car"></i>
                        <h3 class="arg-title">ALL BRANDS</h3>
                        <p class="arg-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem acantium
                            doloremque laudantium.</p>
                    </div>
                    <div class="arg">
                        <i class="fa fa-comments"></i>
                        <h3 class="arg-title">FREE SUPPORT</h3>
                        <p class="arg-content">Omnis sed ut perspiciatis unde iste natus error sit voluptatem acantium
                            doloremque laudantium.</p>
                    </div>
                    <div class="arg">
                        <i class="fa fa-key"></i>
                        <h3 class="arg-title">DEALERSHIP</h3>
                        <p class="arg-content">Error sed ut perspiciatis unde omnis iste natus sit voluptatem acantium
                            doloremque laudantium.</p>
                    </div>
                    <div class="arg">
                        <i class="fa fa-wallet"></i>
                        <h3 class="arg-title">AFFORDABLE</h3>
                        <p class="arg-content">Perspiciatis sed ut unde omnis iste natus error sit voluptatem acantium
                            doloremque laudantium.</p>
                    </div>
                    <div class="arg">
                        <i class="fas fa-tools"></i>
                        <h3 class="arg-title">TRANSMISSION</h3>
                        <p class="arg-content">Omnis perspiciatis sed ut unde iste natus error sit voluptatem acantium
                            doloremque laudantium.</p>
                    </div>
                    <div class="arg">
                        <i class="fas fa-oil-can"></i>
                        <h3 class="arg-title">OIL CHANGES</h3>
                        <p class="arg-content">Voluptatem perspiciatis sed ut unde omnis iste natus error sit acantium
                            doloremque laudantium.</p>
                    </div>
                </div>
                <div class="counters-block">
                    <div class="counter">
                        <div class="left-side">
                        </div>
                        <div class="counter-info">
                            <p class="counter-title">VEHICLES IN STOCK</p>
                            <div class="counter-in">
                                <i class="fa fa-car"></i>
                                <p>561</p>
                            </div>
                        </div>
                    </div>
                    <div class="counter">
                        <div class="left-side">
                        </div>
                        <div class="counter-info">
                            <p class="counter-title">DEALER REVIEWS</p>
                            <div class="counter-in">
                                <i class="fa fa-comments"></i>
                                <p>856</p>
                            </div>
                        </div>
                    </div>
                    <div class="counter">
                        <div class="left-side">
                        </div>
                        <div class="counter-info">
                            <p class="counter-title">HAPPY CUSTOMER</p>
                            <div class="counter-in">
                                <i class="fas fa-user-circle"></i>
                                <p>789</p>
                            </div>
                        </div>
                    </div>
                    <div class="counter">
                        <div class="left-side">
                        </div>
                        <div class="counter-info">
                            <p class="counter-title">AWARDS</p>
                            <div class="counter-in">
                                <i class="fas fa-trophy"></i>
                                <p>356</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<footer>

    <p>footer</p>

</footer>
<script type="text/javascript" src="../static/resources/js/parallax.js" th:src="@{resources/js/parallax.js}"></script>
<script src="../static/resources/js/chainedselects.js" type="text/javascript"
        th:src="@{resources/js/chainedselects.js}"></script>
<script src="../static/resources/js/slider.js" type="text/javascript" th:src="@{resources/js/slider.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://kit.fontawesome.com/de94abba4d.js" crossorigin="anonymous"></script>
</body>
</html>