<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link th:href="@{resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <title>UniCar - Автосалон</title>
</head>
<body>
<header>
    <div class="wrap">
        <section class="top-bar">
            <section class="top-bar-section">
                <div class="top-bar-inner">
                    <img class="top-bar-icon" src="../static/resources/images/icons/email.png"
                         th:src="@{resources/images/icons/email.png}">
                    <p class="top-bar-section-text">uniloftsky@gmail.com</p>
                </div>
                <div class="top-bar-inner">
                    <img class="top-bar-icon" src="../static/resources/images/icons/four-oclock.png"
                         th:src="@{resources/images/icons/four-oclock.png}">
                    <p class="top-bar-section-text" th:text="${currentDate}">20.12.2002 02:00 AM</p>
                </div>
            </section>
            <section class="top-bar-section">
                <div class="top-bar-inner">
                    <img class="top-bar-icon" src="../static/resources/images/icons/phone-call.png"
                         th:src="@{resources/images/icons/phone-call.png}">
                    <p class="top-bar-section-text">(097)127-93-32</p>
                </div>
            </section>
        </section>
    </div>
</header>
<main>
    <div class="wrap">

        <section class="logo-block">
            <img class="logo-img" src="../static/resources/images/logo.png" th:src="@{resources/images/logo.png}">
        </section>

        <nav>
            <ul>
                <li><a href="#">Головна</a></li>
                <li><a href="#">Купити авто</a></li>
                <li><a href="#">Тест-драйв авто</a></li>
                <li><a href="#">Про нас</a></li>
            </ul>
        </nav>
        
    </div>
</main>
<footer>

</footer>
</body>
</html>