<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link th:href="@{resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" th:href="@{/resources/images/favicon.jpg}" type="img/jpg">
    <title>UniCar - Автосалон</title>
</head>
<body>
<header>
    <div class="wrap">
        <section class="top-bar">
            <section class="top-bar-section">
                <div class="top-bar-inner">
                    <img class="top-bar-icon" src="../static/resources/images/icons/email.png"
                         th:src="@{resources/images/icons/email.png}">
                    <p class="top-bar-section-text">uniloftsky@gmail.com</p>
                </div>
                <div class="top-bar-inner">
                    <img class="top-bar-icon" src="../static/resources/images/icons/four-oclock.png"
                         th:src="@{resources/images/icons/four-oclock.png}">
                    <p class="top-bar-section-text" th:text="${currentDate}">20.12.2002 02:00 AM</p>
                </div>
            </section>
            <section class="top-bar-section">
                <div class="top-bar-inner">
                    <img class="top-bar-icon" src="../static/resources/images/icons/phone-call.png"
                         th:src="@{resources/images/icons/phone-call.png}">
                    <p class="top-bar-section-text">(097)127-93-32</p>
                </div>
            </section>
        </section>
    </div>
</header>
<main>
    <div class="wrap">

        <section class="logo-block">
            <img class="logo-img" src="../static/resources/images/logo.png" th:src="@{resources/images/logo.png}">
        </section>

        <nav>
            <ul>
                <li><a href="#">Головна</a></li>
                <li><a href="#">Купити авто</a></li>
                <li><a href="#">Тест-драйв авто</a></li>
                <li><a href="#">Про нас</a></li>
                <li><a href="#" th:href="@{'customers'}">Форма клієнтів</a></li>
                <li><a href="#" th:href="@{'cartypes'}">Форма типів</a></li>
                <li><a href="#" th:href="@{'engines'}">Форма двигунів</a></li>
            </ul>
        </nav>

    </div>
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__item">
                <div class="slider__item-inner" style="background: red;">
                    <div class="wrap">
                        <div class="slider__item-content">
                            <p>Сучасні автомобілі</p>
                            <a class="slider-btn" href="#">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-inner" style="background: green;">
                    <div class="wrap">
                        <div class="slider__item-content">
                            <p>Сучасні автомобілі</p>
                            <a class="slider-btn" href="#">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-inner" style="background: violet;">
                    <div class="wrap">
                        <div class="slider__item-content">
                            <p>Сучасні автомобілі</p>
                            <a class="slider-btn" href="#">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-inner" style="background: coral;">
                    <div class="wrap">
                        <div class="slider__item-content">
                            <p>Сучасні автомобілі</p>
                            <a class="slider-btn" href="#">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>

    <div class="wrap">
        <section class="features-section">
            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-car"></i>
                </div>
                <p>New Vehicles</p>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-tag"></i>
                </div>
                <p>Special offers</p>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-wrench"></i>
                </div>
                <p>Vehicle service</p>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-phone"></i>
                </div>
                <p>Contact us</p>
            </div>
        </section>

        <section class="intro-section">
            <div class="intro-img-block">
                <img class="intro-img" src="../static/resources/images/car.jpg" th:src="@{resources/images/car.jpg}">
            </div>
            <div class="intro-content">
                <h4 class="intro-content-title">Find your dream car</h4>
                <p class="intro-content-subtitle">Everything you need to build an amazing dealership website</p>
                <p class="intro-content-main">Suitable for any car dealer websites, business or corporate websites.
                    The Theme has been Created especially for Automotive Dealers,
                    car resellers, car service stations, mechanic workshop and auto motor retailers. mechanic workshop
                    and auto motor retailers.mechanic workshop and auto motor retailers.</p>
            </div>
        </section>
    </div>
    <section class="parallax-window find_car-section" data-parallax="scroll"
             data-image-src="../static/resources/images/background-car.jpg"
             th:data-image-src="@{resources/images/background-car.jpg}">
        <div class="wrap">
            <div class="find-block">
                <h2>Find a dream car</h2>
                <hr id="form-hr1">
                <hr id="form-hr2">

                <form class="find-form" th:action="@{/findCar}" method="post">
                    <div class="form-in">
                        <div class="form-section">
                            <label>Select brand</label>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
                            <select id="brand_select" name="brandName">
                                <option th:each="car : ${cars}" th:class="${car.brandName}" th:value="${car.brandName}"
                                        th:text="${car.brandName}">BMW
                                </option>
                                <option th:remove="all">Mercedes-Benz</option>
                                <option th:remove="all">Toyota</option>
                            </select>
                            <label>Select body</label>
                            <select id="body_select" name="bodyName">
                                <option th:each="car : ${cars}" th:class="${car.modelName}" th:value="${car.bodyName}"
                                        th:text="${car.bodyName}">s500
                                </option>
                                <option th:remove="all">s120</option>
                                <option th:remove="all">e34</option>
                            </select>
                        </div>
                        <div class="form-section">
                            <label>Select model</label>
                            <select id="model_select" name="modelName">
                                <option th:each="car : ${cars}" th:class="${car.brandName}" th:value="${car.modelName}"
                                        th:text="${car.modelName}">Mers
                                </option>
                                <option th:remove="all">Toyota</option>
                                <option th:remove="all">BMW</option>
                            </select>
                            <label>Engine type</label>
                            <select name="engineType">
                                <option th:each="type : ${T(uniloft.springframework.spring5carshop.model.enums.EngineType).values()}"
                                        th:text="${type.description}" th:value="${type}">
                                </option>
                                <option th:remove="all">PETROL</option>
                            </select>
                        </div>
                    </div>
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </section>
</main>
<footer>

    <p>footer</p>

</footer>
<script type="text/javascript" src="../static/resources/js/parallax.js" th:src="@{resources/js/parallax.js}"></script>
<script src="../static/resources/js/chainedselects.js" type="text/javascript"
        th:src="@{resources/js/chainedselects.js}"></script>
<script src="../static/resources/js/slider.js" type="text/javascript" th:src="@{resources/js/slider.js}"></script>
</body>
</html>