<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link th:href="@{/resources/css/styles.css}"
          href="../../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="img/favicon.png" th:href="@{/resources/images/favicon.jpg}" type="img/jpg">
    <title>Title</title>
</head>
<body>
<form th:object="${customer}" th:action="@{/newCustomer}" method="post" th:method="post" class="customer-form">

    <input type="hidden" th:field="*{id}">
    <label>Ім'я:</label>
    <input type="text" th:field="*{firstName}" required>
    <label>Прізвище:</label>
    <input type="text" th:field="*{lastName}" required>
    <label>Адреса:</label>
    <input type="text" th:field="*{address}" required>
    <label>Номер телефону:</label>
    <input id="phone" type="text" th:field="*{telephone}" required>
    <input type="submit" value="Підтвердити">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script th:src="@{/resources/js/jquery.maskedinput.min.js}"
        src="../../static/resources/js/jquery.maskedinput.min.js"></script>
<script>
    $(function () {
        $("#phone").mask("+38(999) 999-9999");
    });
</script>
</body>
</html>