<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link th:href="@{resources/css/styles.css}"
          href="../../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>
    <section>
        <div th:each="customer : ${customers}">
            <p th:text="${customer.firstName} + ' ' + ${customer.lastName}"></p>
            <a href="#" th:href="@{'customers/' + ${customer.id} + '/show'}">Переглянути</a>
            <a href="#" th:href="@{'customers/' + ${customer.id} + '/update'}">Оновити</a>
            <a href="#" th:href="@{'customers/' + ${customer.id} + '/delete'}">Видалити</a>
            <hr>
        </div>
        <a href="#" th:href="@{customers/new}">Додати</a>
    </section>
</body>
</html>