* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    color: #363636;
}

h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: .25em;
}

/* navigation */

nav ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 2em;
}

nav li {
    padding: 0 .5em;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    transition: .5s;
}

nav a:hover {
    color: #DB2D2E;
}

/*
==================
Layout
==================
*/

img {
    display: block;
}

.wrap {
    max-width: 1150px;
    width: 98%;
    margin: 0 auto;
}

header {
    background-color: #323232;
    padding: .75em 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

footer {
    margin-top: 5em;
}

.top-bar, .top-bar-section, .top-bar-inner {
    display: flex;
}

.top-bar {
    justify-content: space-between;
    color: white;
    font-size: .9rem;
}

.top-bar-inner {
    align-items: center;
    justify-content: flex-start;
    margin-right: 1em;
}

.top-bar-icon {
    width: 15px;
    filter: invert(2);
    margin-right: .5em;
}

.logo-block {
    display: flex;
    justify-content: center;
    padding: 3em 0;
}

.logo-img {
    width: 20%;
}

/*
==================
Slider
==================
*/

.slider {
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item-inner {
    font-size: 1rem;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 200px;
}

.slider__item-content p {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.slider-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background: black;
    padding: .75em 3em;
    transition: .5s;
}

.slider-btn:hover {
    background: white;
    color: black;
}

/*=========================*/

.features-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.feature {
    min-height: 200px;
    border: 1px solid #f6f6f6;
    border-top: 0;
    width: 25%;
    text-align: center;
    transition: .5s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.25em 0;
}

.feature:hover {
    background: #DB2D2E;
    min-height: 250px;
    margin-bottom: -2.5em;
    color: white;
}

.feature p {
    text-transform: uppercase;
    font-weight: 600;
}

.features-section .feature:nth-child(2n) {
    border-left: none;
}

.features-section .feature:nth-child(3) {
    border-left: none;
}

.feature-icon i {
    display: inline-block;
    font-size: 2rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    text-align: center;
    line-height: 85px;
}

.intro-section {
    display: flex;
    justify-content: space-between;
}

.intro-img-block, .intro-content {
    width: 48%;
}

.intro-img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.intro-content {
    display: flex;
    flex-direction: column;
}

.intro-content-title {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-top: -.25em;
}

.intro-content-subtitle {
    margin-top: .25em;
}

.intro-content-main {
    margin-top: auto;
    font-style: italic;
}

.car_search-section {
    margin-top: 3.5em;
    min-height: 500px;
    background-color: red;
}

/*
==================
Parallax
==================
*/

.parallax-window {
    background: transparent;
    color: #fff;
    padding: 5em 2em;
    text-shadow: 0px 0px 15px black;
}

/*=========================*/

.find_car-section {
    margin-top: 3.5em;
    min-height: 700px;
}

/*
==================
Forms
==================
*/

/* customer form */

.customer-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em auto 0;
}

.customer-form input {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    padding: .35em;
}

.customer-form input[type="submit"] {
    margin-top: 1.25em;
    border: 0;
    transition: .25s;
}

.customer-form input[type="submit"]:hover {
    background-color: #DB2D2E;
    color: white;
}

/* customer form end */

/* cartype form */

.cartype-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em auto 0;
}

.cartype-form input {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    padding: .35em;
}

.cartype-form input[type="submit"] {
    margin-top: 1.25em;
    border: 0;
    transition: .25s;
}

.cartype-form input[type="submit"]:hover {
    background-color: #DB2D2E;
    color: white;
}

/* cartype form end */

/* engine form */

.engine-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em auto 0;
}

.engine-form input {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    padding: .35em;
}

.engine-form input[type="submit"] {
    margin-top: 1.25em;
    border: 0;
    transition: .25s;
}

.engine-form input[type="submit"]:hover {
    background-color: #DB2D2E;
    color: white;
}

.engine-form select {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    padding: .35em;
}

/* engine form end */

.find-block {
    display: flex;
    flex-direction: column;
}

/* find form */

.form-in {
    display: flex;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.form-section:first-child {
    margin-right: 5em;
}

.find-form {
    margin-top: 2em;
}

.find-form label {
    font-size: 1rem;
    margin-bottom: .75em;
}

.find-form select {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    padding: .35em;
}

.find-form input[type="submit"] {
    margin-top: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    padding: .35em 5.75em;
    background-color: #DB2D2E;
    border: 0;
    color: white;
    font-weight: 600;
    transition: .25s;
}

.find-form input[type="submit"]:hover {
    background-color: #323232;
    cursor: pointer;
}

#form-hr1, #form-hr2 {
    border: 0;
    height: 1px;
    background: #DB2D2E;
    margin-bottom: .3em;
    transition: .75s;
}

#form-hr1 {
    width: 4%;
}

#form-hr2 {
    width: 8%;
}

.find_car-section:hover #form-hr1 {
    width: 8%;
}

.find_car-section:hover #form-hr2 {
    width: 4%;
}

/* find form end */

.feature_cars-section {
    padding: 3em;
}

.feature_cars-section-in {
    text-align: center;
}

.feature_cars-section-in h4 {
    color: #999999;
    margin-top: 2em;
    font-weight: 300;
    font-size: 1rem;
}

#featurecar-hr1, #featurecar-hr2 {
    border: 0;
    height: 1px;
    background: #DB2D2E;
    margin: 0 auto .3em;
    transition: .75s;
}

#featurecar-hr1 {
    width: 4.5%;
}

#featurecar-hr2 {
    width: 10%;
}

.feature_cars-section-in:hover #featurecar-hr1 {
    width: 10%;
}

.feature_cars-section-in:hover #featurecar-hr2 {
    width: 4.5%;
}

.cars-block {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5em;
}

.car {
    width: 23%;
    padding: .5em;
    box-shadow: 0 0 3px 2px lightgray;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}

.car-img {
    object-fit: cover;
    width: 245px;
    min-height: 175px;
    margin: 0 auto;
}

.extra-car-info {
    display: flex;
    justify-content: space-around;
    color: #999999;
    font-size: 1rem;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: .5em;
    margin-bottom: 1.25em;
    margin-top: .5em;
}

.car-title {
    color: #DB2D2E;
    font-weight: 600;
    margin-bottom: .5em;
}

.btn-car {
    margin-top: auto;
    text-decoration: none;
    background-color: #DB2D2E;
    padding: .15em;
    width: 100%;
    color: white;
    font-weight: 600;
}

.car-hr1, .car-hr2 {
    border: 0;
    background: black;
    height: 1px;
    margin: 0 auto;
    transition: .75s;
}

.car-hr1 {
    width: 12%;
    margin-bottom: .2em;
}

.car-hr2 {
    width: 20%;
}

.car:hover .car-hr1 {
    width: 20%;
    background: #DB2D2E;
}

.car:hover .car-hr2 {
    width: 12%;
    background: #DB2D2E;
}

.extra-car-info div {
    display: flex;
    align-items: center;
}

.extra-car-info div i {
    margin-right: .5em;
}

/*=========================*/