* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #DB2D2E;
    color: white;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    color: #363636;
}

h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: .25em;
}

/* navigation */

nav ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto 2em;
}

nav li {
    padding: 0 .5em;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    transition: .5s;
}

nav a:hover {
    color: #DB2D2E;
}

/*
==================
Layout
==================
*/

img {
    display: block;
    max-width: 100%;
}

.wrap {
    max-width: 1150px;
    width: 98%;
    margin: 0 auto;
}

header {
    background-color: #323232;
    padding: .75em 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.not-index {
    background: none;
    padding: 0;
    position: relative;
}

footer {
}

.top-bar, .top-bar-section, .top-bar-inner {
    display: flex;
}

.top-bar {
    justify-content: space-between;
    color: white;
    font-size: .9rem;
}

.top-bar-inner {
    align-items: center;
    justify-content: flex-start;
    margin-right: 1em;
}

.top-bar-icon {
    width: 15px;
    filter: invert(2);
    margin-right: .5em;
}

.logo-block {
    display: flex;
    justify-content: center;
    padding: 3em 0;
}

.logo-img {
    width: 20%;
}

/*
==================
Slider
==================
*/

.slider {
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item-inner {
    font-size: 1rem;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item-content-one {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: flex-start;
    justify-content: center;
}

.slider__item-content-two {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: flex-end;
    justify-content: center;
}

.slider__item-content-one p {
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.slider__item-content-two p {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.slider-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background: black;
    padding: .75em 3em;
    transition: .5s;
}

.slider-btn:hover {
    background: white;
    color: black;
}

.btn-one {
    background: #DB2D2E;
}

.btn-one:hover {
    background: black;
    color: white;
}

/*=========================*/

.features-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.feature {
    min-height: 200px;
    border: 1px solid #f6f6f6;
    border-top: 0;
    width: 25%;
    text-align: center;
    transition: .5s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.25em 0;
}

.feature:hover {
    background: #DB2D2E;
    min-height: 250px;
    margin-bottom: -2.5em;
    color: white;
}

.feature p {
    text-transform: uppercase;
    font-weight: 600;
}

.features-section .feature:nth-child(2n) {
    border-left: none;
}

.features-section .feature:nth-child(3) {
    border-left: none;
}

.feature-icon i {
    display: inline-block;
    font-size: 2rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    text-align: center;
    line-height: 85px;
}

.intro-section {
    display: flex;
    justify-content: space-between;
}

.intro-img-block, .intro-content {
    width: 48%;
}

.intro-img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.intro-content {
    display: flex;
    flex-direction: column;
}

.intro-content-title {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-top: -.25em;
}

.intro-content-subtitle {
    margin-top: .25em;
}

.intro-content-main {
    margin-top: auto;
    font-style: italic;
    text-align: justify;
}

.car_search-section {
    margin-top: 3.5em;
    min-height: 500px;
    background-color: red;
}

/*
==================
Parallax
==================
*/

.parallax-window {
    background: transparent;
    color: #fff;
    padding: 5em 2em;
    text-shadow: 0px 0px 15px black;
}

/*=========================*/

.find_car-section {
    margin-top: 3.5em;
    min-height: 700px;
}

/*
==================
Forms
==================
*/

/* customer form */

.customer-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em auto 0;
}

.customer-form input {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    padding: .35em;
}

.customer-form input[type="submit"] {
    margin-top: 1.25em;
    border: 0;
    transition: .25s;
}

.customer-form input[type="submit"]:hover {
    background-color: #DB2D2E;
    color: white;
}

/* customer form end */

/* cartype form */

.cartype-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em auto 0;
}

.cartype-form input {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    padding: .35em;
}

.cartype-form input[type="submit"] {
    margin-top: 1.25em;
    border: 0;
    transition: .25s;
}

.cartype-form input[type="submit"]:hover {
    background-color: #DB2D2E;
    color: white;
}

/* cartype form end */

/* engine form */

.engine-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em auto 0;
}

.engine-form input {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    padding: .35em;
}

.engine-form input[type="submit"] {
    margin-top: 1.25em;
    border: 0;
    transition: .25s;
}

.engine-form input[type="submit"]:hover {
    background-color: #DB2D2E;
    color: white;
}

.engine-form select {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    padding: .35em;
}

/* engine form end */

.find-block {
    display: flex;
    flex-direction: column;
}

/* find form */

.form-in {
    display: flex;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.form-section:first-child {
    margin-right: 5em;
}

.find-form {
    margin-top: 2em;
}

.find-form label {
    font-size: 1rem;
    margin-bottom: .75em;
}

.find-form select {
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    padding: .35em;
}

.find-form input[type="submit"] {
    margin-top: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    padding: .35em 5.75em;
    background-color: #DB2D2E;
    border: 0;
    color: white;
    font-weight: 600;
    transition: .25s;
}

.find-form input[type="submit"]:hover {
    background-color: #323232;
    cursor: pointer;
}

#form-hr1, #form-hr2 {
    border: 0;
    height: 1px;
    background: #DB2D2E;
    margin-bottom: .3em;
    transition: .75s;
}

#form-hr1 {
    width: 4%;
}

#form-hr2 {
    width: 8%;
}

.find_car-section:hover #form-hr1 {
    width: 8%;
}

.find_car-section:hover #form-hr2 {
    width: 4%;
}

/* find form end */

/*=========================*/

.feature_cars-section {
    padding: 3em;
}

.feature_cars-section-in {
    text-align: center;
}

.feature_cars-section-in h4 {
    color: #999999;
    margin-top: 2em;
    font-weight: 300;
    font-size: 1.15rem;
}

.featurecar-hr1, .featurecar-hr2 {
    border: 0;
    height: 1px;
    background: #DB2D2E;
    margin: 0 auto .3em;
    transition: .75s;
}

.featurecar-hr1 {
    width: 4.5%;
}

.featurecar-hr2 {
    width: 10%;
}

.feature_cars-section-in:hover .featurecar-hr1 {
    width: 10%;
}

.feature_cars-section-in:hover .featurecar-hr2 {
    width: 4.5%;
}

.cars-block {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5em;
}

.car {
    width: 23%;
    padding: .5em;
    box-shadow: 0 0 3px 2px lightgray;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}

.car-img {
    object-fit: cover;
    width: 245px;
    min-height: 175px;
    margin: 0 auto;
}

.extra-car-info {
    display: flex;
    justify-content: space-around;
    color: #999999;
    font-size: 1rem;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: .5em;
    margin-bottom: 1.25em;
    margin-top: .5em;
}

.car-title {
    color: #DB2D2E;
    font-weight: 600;
    margin-bottom: .5em;
    text-decoration: none;
    transition: .75s;
}

.car-title:hover {
    color: #363636;
}

.btn-car {
    margin-top: auto;
    text-decoration: none;
    background-color: #DB2D2E;
    padding: .15em;
    width: 100%;
    color: white;
    font-weight: 600;
}

.car-hr1, .car-hr2 {
    border: 0;
    background: black;
    height: 1px;
    margin: 0 auto;
    transition: .75s;
}

.car-hr1 {
    width: 12%;
    margin-bottom: .2em;
}

.car-hr2 {
    width: 20%;
}

.car:hover .car-hr1 {
    width: 20%;
    background: #DB2D2E;
}

.car:hover .car-hr2 {
    width: 12%;
    background: #DB2D2E;
}

.extra-car-info div {
    display: flex;
    align-items: center;
}

.extra-car-info div i {
    margin-right: .5em;
}

.why-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-section h4 {
    font-weight: 300;
    font-size: 1.15rem;
}

#why-hr1, #why-hr2 {
    border: 0;
    height: 1px;
    background: #DB2D2E;
    margin: 0 auto .3em;
    transition: .75s;
}

#why-hr1 {
    width: 10%;
}

#why-hr2 {
    width: 4.5%;
}

.why-section:hover #why-hr1 {
    width: 4.5%;
}

.why-section:hover #why-hr2 {
    width: 10%;
}

.arg-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;
}

.arg {
    max-width: 31.5%;
    background-color: white;
    padding: 1em;
    text-shadow: none;
    color: #363636;
    margin-bottom: 1.4em;
    min-height: 200px;
    transition: .75s;
}

.arg:hover i, .arg:hover .arg-content, .arg:hover {
    color: white;
}

.arg:hover {
    background-color: #DB2D2E;
}

.arg i {
    color: #DB2D2E;
    font-size: 1.75rem;
    margin-bottom: .5em;
    transition: .75s;
}

.arg-title {
    font-weight: 600;
}

.arg-content {
    font-size: 1rem;
    color: #999999;
    margin-top: .5em;
    transition: .75s;
    cursor: default;
}

.counters-block, .counter {
    display: flex;
}

.counters-block {
    justify-content: space-around;
    width: 100%;
}

.counter {
    justify-content: space-between;
}

.counter:hover .left-side:after {
    height: 50px;
}

.counter:hover .left-side:before {
    height: 30px;
}

.left-side {
    margin-right: 1em;
    position: relative;
}

.left-side:after, .left-side:before {
    content: '';
    background: white;
    width: 1px;
    float: left;
    margin-top: .35em;
    transition: .75s;
    position: absolute;
    bottom: 5px;
}

.left-side:after {
    height: 30px;
}

.left-side:before {
    height: 50px;
    left: 6px;
}

.counter-title {
    font-weight: 600;
}

.counter-in {
    display: flex;
    align-items: baseline;
    font-size: 2rem;
    font-weight: 600;
}

.counter-in i {
    margin-right: .5em;
}

.counter-in p {
    font-size: 2.5rem;
}

.counter-numb {
    opacity: 0;
}

.counter-visible {
    opacity: 1;
    transition: 1.5s;
}

.feedback-section {
    padding: 3em;
    margin-bottom: 5em;
}

.feedback-section-in {
    text-align: center;
}

.feedback-section-in:hover .featurecar-hr1 {
    width: 10%;
}

.feedback-section-in:hover .featurecar-hr2 {
    width: 4.5%;
}

.feedback-section-in h4 {
    color: #999999;
    margin-top: 2em;
    font-weight: 300;
    font-size: 1.15rem;
}

.feedbacks {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5em;
}

.feedback {
    width: 32.25%;
    min-height: 400px;
    background-color: #F6F6F6;
}

.feedback-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 155px;
}

.customer-img-block {
    margin-top: -2em;
    z-index: 1;
    position: relative;
}

.customer-img {
    object-fit: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid white;
}

.customer-block {
    padding: 0 1em 1em;
    color: #999999;
    display: flex;
    flex-direction: column;
    min-height: 262px;
}

.customer-name {
    color: #DB2D2E;
}

.customer-pos {
    margin-bottom: 1em;
    font-size: 1.15rem;
}

.customer-text {
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.customer-block i {
    margin-top: auto;
    font-size: 1.75rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    color: #999999;
    text-shadow: none;
    margin-bottom: 2em;
}

.footer-info {
    width: 24%;
    text-align: left;
    font-size: 1.1rem;
    min-height: 350px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-info-title {
    color: white;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 2em;
}

.footer-info-title:after {
    content: '';
    height: 3px;
    width: 8%;
    background: #DB2D2E;
    position: absolute;
    bottom: -.5em;
    left: 0;
}

.logo-footer-img-block {
    margin-bottom: 2em;
}

.logo-footer-img {
    width: 90%;
}

.recent-cars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recent-car {
    display: flex;
    border-bottom: 1px solid #261C1D;
    padding-bottom: 1.75em;
    margin-bottom: 1.75em;
}

.recent-car:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.recent-car-info div {
    display: flex;
    align-items: center;
}

.recent-car-name {
    display: inline-block;
    text-decoration: none;
    margin-bottom: .35em;
    color: #999999;
    transition: .75s;
}

.recent-car-name:hover {
    color: #DB2D2E;
}

.recent-car-date {
    font-size: 1rem;
}

.recent-car-info div i {
    margin-right: .5em;
}

.recent-car-img-block {
    width: 40%;
}

.recent-car-img {
    width: 80%;
}

.link-block {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    border-bottom: 1px solid #261C1D;
    padding-bottom: 1em;
}

.link-block:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.link-block a {
    text-decoration: none;
    color: #999999;
    transition: .5s;
}

.link-block:hover a, .link-block:hover i {
    color: #DB2D2E;
}

.link-block i {
    font-size: .65rem;
    margin-right: 1em;
    transition: .5s;
}

.footer-text {
    margin-bottom: 1em;
}

.footer-contact-in {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-contact-in i {
    font-size: 1rem;
}

.footer-contact {
    width: 85%;
    margin-bottom: 1em;
}

.footer-content, .footer-form {
    margin-bottom: auto;
}

.footer-form input[type="email"] {
    border: 1px solid #261C1D;
    font-family: 'Source Sans Pro', sans-serif;
    background: none;
    padding: .75em;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1em;
    color: white;
}

.footer-form input[type="submit"] {
    background-color: #DB2D2E;
    border: none;
    color: white;
    padding: .75em 1em;
    width: 45%;
    font-size: 1rem;
    transition: .5s;
}

.footer-form input[type="submit"]:hover {
    background-color: #323232;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    text-shadow: none;
    margin-top: 3em;
}

.footer-q {
    width: 48.5%;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5em;
    min-height: 175px;
    display: flex;
}

.footer-q-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
    width: 70%;
}

.footer-q-title {
    font-weight: 600;
    position: relative;
    margin-bottom: 1.5em;
}

.footer-q-title:after {
    content: '';
    height: 2px;
    width: 8%;
    background: #DB2D2E;
    position: absolute;
    bottom: -.5em;
    left: 0;
}

.footer-q-text {
    font-size: 1.1rem;
}

.btn-q {
    width: 25%;
    text-align: center;
    text-decoration: none;
    background: #DB2D2E;
    padding: .5em 0;
    color: white;
    margin: auto 0 auto auto;
    font-size: 1.1rem;
    transition: .5s;
}

.btn-q:hover {
    background-color: #323232;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #261C1D;
    padding-top: 1.5em;
}

.footer-bottom-in {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    max-width: 1150px;
    width: 98%;
    margin: 0 auto;
}

.footer-bottom-side ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
}

.footer-bottom-side ul li {
    padding: 0 1em;
    border-right: 1px solid white;
}

.footer-bottom-side ul li:last-child {
    border-right: 0;
}

.footer-bottom-side ul a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

.footer-bottom-side ul a:hover {
    color: #DB2D2E;
}

/*
==================
About page
==================
*/

.sub-header-section {
    border-top: 1px solid white;
    border-color: rgba(255, 255, 255, 0.25);
    margin-top: 1em;
}

.sub-header-in {
    min-height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-header .logo-block {
    display: block;
}

.sub-header .logo-img {
    width: 40%;
}

.sub-header nav ul {
    width: 100%;
    margin: 0;
}

.sub-header nav a {
    color: white;
    transition: .75s;
}

.sub-header nav a:hover {
    color: #DB2D2E;
}

.header-path {
    display: flex;
    justify-content: space-between;
}

.header-path i {
    margin-right: .25em;
}

.header-path a {
    color: white;
    text-decoration: none;
    transition: .75s;
    margin-right: .5em;
}

.header-path a:hover {
    color: #DB2D2E;
}

.about-section {
    text-align: center;
    padding-top: 5em;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 5em;
    margin-bottom: 4em;
}

.about-section:hover .featurecar-hr1 {
    width: 10%;
}

.about-section:hover .featurecar-hr2 {
    width: 4.5%;
}

.about-section h4 {
    color: #999999;
    font-weight: 300;
}

.about-sub-title {
    width: 80%;
    font-size: 1.1rem;
    color: #999999;
    margin: 2em auto 4em;
}

.about-section-in {
    display: flex;
    justify-content: space-between;
    color: #999999;
    font-size: 1.1rem;
}

.about-img-block {
    width: 48%;
}

.about-section-in div {
    width: 48%;
    text-align: left;
}

.about-text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-points {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    text-align: left;
}

.point {
    display: flex;
    align-items: center;
    width: 33%;
}

.icon-block {
    border: 1px solid #f6f6f6;
    border-radius: 50%;
    padding: .5em;
    margin-right: 1em;
    transition: .75s;
}

.point:hover .icon-block, .point:hover .icon-block i {
    border-color: #DB2D2E;
    color: #DB2D2E;
}

.point:hover .icon-block i {
    background: #DB2D2E;
    color: #f6f6f6;
}

.icon-block i {
    font-size: 1.5rem;
    color: #999999;
    background: #F6F6F6;
    padding: .6em;
    border-radius: 50%;
    transition: .75s;
}

.point-title {
    font-weight: 600;
}

.point-text {
    font-size: 1.1rem;
    color: #999999;
}

.timeline-section {
    margin-bottom: 5em;
}

.timeline-section h4, .timeline-section h2 {
    text-align: center;
}

.timeline-section h4 {
    color: #999999;
    font-weight: 300;
}

.timeline-section:hover .featurecar-hr1 {
    width: 10%;
}

.timeline-section:hover .featurecar-hr2 {
    width: 4.5%;
}

/* timeline */

.timeline {
    position: relative;
    max-width: 100%;
    margin: 4em auto 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #DEDEDE;
    top: 0;
    bottom: 0;
    left: 50%;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: white;
    border: 1px solid #DEDEDE;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #DB2D2E;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #DB2D2E;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: 1px solid #DB2D2E;
    border-width: 10px 10px 10px 0;
    border-color: transparent #DB2D2E transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 1em;
    background-color: white;
    border: 1px solid #DEDEDE;
    position: relative;
    min-height: 175px;
    transition: .75s;
}

.content:hover {
    background: #DB2D2E;
    color: white;
}

.content:hover .timeline-text {
    color: white;
}

.content:hover .timeline-title:after {
    background: white;
}

.timeline-title {
    font-weight: 600;
    margin-bottom: 1em;
    position: relative;
    padding-bottom: .5em;
}

.timeline-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5%;
    background: #DB2D2E;
    height: 2px;
    transition: .75s;
}

.timeline-text {
    font-size: 1.1rem;
    color: #999999;
    transition: .75s;
}

/* pagination test */

.pagination {
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 30%;
    margin: 0 auto 2em;
    justify-content: space-between;
}

.page-item {
    width: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEDEDE;
    color: black;
}

.active-page {
    background: #DB2D2E;
}

.page-item a {
    color: black;
}

.active-page a {
    color: white;
}

.arrow {
    font-size: .75rem;
}

.page-link {
    text-decoration: none;
}

/* accordion */

.accordion {
    cursor: pointer;
    background: none;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border: 1px solid #DEDEDE;
    border-bottom: none;
}

.accordion:last-child {
    border-bottom: 1px solid #DEDEDE;
}

.accordion-in {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 1px solid #DEDEDE;
    border-bottom: none;
}

#test-panel {
    border-bottom: 1px solid #DEDEDE;
}

.active {
    color: inherit;
}

.panel-in {
    padding: .25em .5em;
}


.check-block {
    margin-bottom: .5em;
}

.check-block input {
    margin-right: .5em;
}

.filter-submit-btn {
    background: #DB2D2E;
    color: white;
    padding: .5em .75em;
    border: 1px solid #DEDEDE;
    width: 100%;
    margin-top: 2em;
    transition: .75s;
    cursor: pointer;
    margin-bottom: 5em;
}

.filter-submit-btn:hover {
    background: #261C1D;
}

/* catalog */

.catalog-section {
    min-height: 2020px;
    margin-bottom: 5em;
}

.catalog-section-in {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

.filter-section {
    width: 20%;
}

.catalog {
    width: 77.5%;
}

.check-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.catalog {
    display: flex;
    flex-direction: column;
}

.catalog-car {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DEDEDE;
    padding: .75em;
    margin-bottom: 1.5em;
}

.catalog-car-img-block {
    width: 35%;
}

.catalog-car-info {
    width: 60%;
}

.catalog-car-extra ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.catalog-car-extra ul li {
    display: flex;
    border: 1px solid #DEDEDE;
    align-items: center;
    margin-right: .25em;
    font-size: 1rem;
    padding: .5em;
    color: #999999;
}

.catalog-car-extra ul li i {
    margin-right: .25em;
}

.catalog-car-price-ext {
    display: flex;
    justify-content: space-between;
}

.catalog-car-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .5em;
    padding-bottom: .25em;
    position: relative;
    text-transform: uppercase;
}

.catalog-car-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #DB2D2E;
    width: 4.5%;
    height: 2px;
}

.catalog-car-desc {
    font-size: 1.1rem;
    color: #999999;
    margin-bottom: 1em;
}

.catalog-car-price {
    color: #DB2D2E;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.catalog-car-more {
    text-decoration: none;
    color: white;
    background: #DB2D2E;
    font-size: 1.1rem;
    padding: .5em 1em;
    align-self: flex-start;
    transition: .75s;
}

.catalog-car-more:hover {
    background: #261C1D;
}

/* slider */

.price-range-block {
    border: 1px solid #DEDEDE;
    padding: 1em;
    margin-bottom: 1.5em;
}

.ui-slider-horizontal {
    width: 100%;
    height: 7px;
    margin-bottom: 20px;
}

.ui-widget-header {
    background: #DB2D2E;
}

.ui-widget.ui-widget-content {
    background: #EEEEEE;
    border: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: white;
    border: 1px solid #DB2D2E;
    outline: none;
}

.ui-corner-all {
    border-radius: 0;
}

.price-range-slider {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

.price-range-slider span {
    font-family: 'Source Sans Pro', sans-serif;
    color: #363636;
    font-size: 1.25rem;
    font-weight: 700;
}

.price-range-field {
    font-family: 'Source Sans Pro', sans-serif;
    width: 70px;
    color: #888888;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid #DEDEDE;
}

.search-results-block {
    position: relative;
    display: block;
    clear: both;
    margin-top: 20px;
}

.price-range-title {
    color: #363636;
    font-weight: 700;
    font-size: 1.35rem;
}

/* contact section */

.contact-section {
    text-align: center;
}

.contact-section:hover .featurecar-hr1 {
    width: 10%;
}

.contact-section:hover .featurecar-hr2 {
    width: 4.5%;
}

.contact-section h4 {
    font-weight: 300;
    font-size: 1.15rem;
    margin-top: 5em;
}

.contacts-in {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

.contact {
    width: 23%;
    background: #F6F6F6;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
}

.contact i {
    font-size: 2rem;
    color: #DB2D2E;
    margin-bottom: .5em;
}

.contact-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.contact-info {
    font-size: 1.1rem;
    color: #999999;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

.contact-form-in:first-child {
    width: 70%;
}

.contact-form-in:last-child {
    width: 28%;
    background: #F6F6F6;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form-inputs {
    display: flex;
    justify-content: space-between;
}

.contact-form-input {
    width: 31%;
    background: #F6F6F6;
    border: none;
    padding: .5em 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    transition: .75s;
}

.contact-form-inputs input:focus {
    outline: 1px solid #DB2D2E;
}

.contact-form-message {
    margin-top: 1em;
}

.contact-form-message textarea {
    background: #F6F6F6;
    border: 1px solid transparent;
    resize: none;
    padding: .5em 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    min-height: 175px;
    -webkit-transition: .75s ease-in-out;
}

.contact-form-message textarea:focus {
    outline: 1px solid #DB2D2E;
}

.contact-form input[type="submit"] {
    background: #DB2D2E;
    color: white;
    border: none;
    padding: .5em 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
    transition: .75s;
}

.contact-form input[type="submit"]:hover {
    background: #261C1D;
}

.contact-times {
    display: flex;
    flex-direction: column;
}

.contact-time {
    display: flex;
    margin-bottom: .35em;
    font-size: 1.1rem;
    justify-content: space-between;
}

.contact-time-title {
    text-align: left;
    font-weight: 600;
    position: relative;
    padding-bottom: .5em;
}

.contact-time-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #DB2D2E;
    width: 8%;
    height: 3px;
}

.contact-time-day {
    font-weight: 600;
}

.contact-work {
    width: 60%;
    text-align: left;
    color: #999999;
}

.closed {
    color: #DB2D2E;
}

.contact-features {
    display: flex;
    margin-top: 5em;
    justify-content: space-between;
    align-items: center;
}

.contact-feature {
    display: flex;
    width: 32%;
}

.contact-feature-icon {
    border-radius: 50%;
    padding: 2em;
    border: 1px solid #F6F6F6;
    margin-right: 1em;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -.5em;
    transition: .75s;
}

.contact-feature-icon:hover {
    border: 1px solid #DB2D2E;
    color: #DB2D2E;
}

.contact-feature-icon:hover i {
    color: white;
    background: #DB2D2E;
}

.contact-feature-content {
    text-align: left;
}

.contact-feature-icon i {
    background: #F6F6F6;
    border-radius: 50%;
    padding: 1.5em;
    color: #999999;
    font-weight: 600;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .75s;
}

.feature-title {
    font-weight: 600;
}

.feature-text {
    font-size: 1.1rem;
    color: #999999;
}

.map-section iframe {
    min-width: 100%;
    margin-top: 5em;
    min-height: 475px;
    pointer-events: none;
}

/* car details section */

.car-details-section {
    padding: 4em 0;
}

.car-details-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.car-details-header h2 {
    font-size: 2rem;
    font-weight: 700;
}

.car-details-price {
    color: #DB2D2E;
}

.car-details-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.car-details-img-block {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.car-details-img {
    object-fit: cover;
    max-height: 320px;
    margin-bottom: 1em;
}

.car-details-btns {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.details-btn {
    width: 48%;
    background: #DB2D2E;
    padding: .5em 1em;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .75s;
}

.details-btn i {
    margin-right: .5em;
}

.details-btn:hover {
    background: #261C1D;
}

.test-btn {
    background: #888888;
}

.car-details-info-in {
    width: 48%;
}

.car-details-info-in-title {
    font-size: 1.35rem;
    position: relative;
    padding-bottom: .25em;
    margin-bottom: .75em;
}

.car-details-info-in-title:after {
    content: '';
    position: absolute;
    background: #DB2D2E;
    width: 4%;
    height: 2px;
    bottom: 0;
    left: 0;
    font-size: 1.35rem;
}

.car-details-info-point {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: .75em;
    margin-bottom: .75em;
}

.car-details-info-point:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.details-point-name {
    width: 28%;
    color: #999999;
    font-size: 1rem;
}

.details-point-info {
    width: 50%;
    font-weight: 600;
    font-size: 1.1rem;
}

.car-details-description {
    display: flex;
    justify-content: space-between;
}

.car-details-description-in {
    width: 77%;
}

.car-details-description-title {
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    padding: 0 .5em 1em;
    margin-bottom: 1em;
}

.car-details-description-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #DB2D2E;
    height: 3px;
    width: 180px;
}

.car-details-text-in {
    color: #999999;
    font-size: 1rem;
    margin-bottom: 1.5em;
    text-align: justify;
}

.car-details-description-location {
    width: 20%;
}

.car-details-description-location-title {
    font-size: 1.35rem;
    position: relative;
    padding-bottom: .25em;
    margin-bottom: .75em;
}

.car-details-description-location-title:after {
    content: '';
    position: absolute;
    background: #DB2D2E;
    width: 10%;
    height: 2px;
    bottom: 0;
    left: 0;
    font-size: 1.35rem;
}

.details-location iframe {
    min-height: 350px;
}

.car-details-extra-features {
    margin-bottom: 5em;
}

.details-extra-features-title {
    font-size: 1.1rem;
    margin-bottom: .75em;
}

.car-details-extra-features ul {
    list-style: none;
    padding-left: 0;
}

.car-details-extra-features li {
    display: flex;
    font-size: 1rem;
    align-items: center;
    margin-bottom: .75em;
}

.car-details-extra-features li i {
    color: #DB2D2E;
    margin-right: 1em;
    font-size: .75rem;
}

.car-details-extra-features li p {
    color: #999999;
}

.car-details-recent-vehicles-title {
    font-size: 1.1rem;
    margin-bottom: .75em;
}

.recent-vehicles {
    display: flex;
    justify-content: space-between;
}

.recent-vehicle {
    width: 24%;
    text-align: center;
}

.recent-vehicle:hover .car-hr1 {
    width: 20%;
    background: #DB2D2E;
}

.recent-vehicle:hover .car-hr2 {
    width: 12%;
    background: #DB2D2E;
}

.recent-vehicle-info {
    padding: 1em 0;
    background: #F6F6F6;
}

.recent-vehicle-name {
    color: #DB2D2E;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .5em;
    text-decoration: none;
    transition: .75s;
}

.recent-vehicle-name:hover {
    color: #363636;
}

.recent-car-price {
    margin-top: .75em;
    font-weight: 600;
}

/* order car section */

.car-order-section {
    padding: 4em 0;
}

.form-inputs-unique {
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.input-field-block {
    width: 49%;
    margin-bottom: 1em;
}

.input-field-block input {
    width: 100%;
}

.car-details-price-unique {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: .5em;
}

.order-form input[type="submit"] {
    border: 0;
    background: #DB2D2E;
    padding: .5em 2.5em;
    min-width: 200px;
    color: white;
    transition: .75s;
}

.order-form input[type="submit"]:hover {
    background: #261C1D;
}

.input-error {
    border: 1px solid #DB2D2E;
}

.input-error::placeholder {
    color: #DB2D2E;
}

.error-block ul {
    padding-left: 0;
    list-style: none;
}

.error-block li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #DB2D2E;
}

.error-block li i {
    font-size: .75rem;
    margin-right: .5em;
}

/*
==================
Authority
==================
*/

.login-block {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form div {
    display: flex;
    flex-direction: column;
}

.login-form input {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

.login-form input[type="submit"] {
    margin-top: 1em;
    border: 0;
    background: #DB2D2E;
    color: white;
    padding: .25em;
    transition: .75s;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background: #261C1D;
}

.admin-header {
    background: cornflowerblue;
    padding-bottom: 1em;
}

.admin-header nav {
    display: flex;
    justify-content: space-between;
}

.admin-header nav ul {
    display: flex;
    margin: 0;
}

.logout-item {
    justify-content: flex-end;
}

.admin-header nav ul a {
    color: white;
    font-size: 1rem;
}

.admin-header nav ul a:hover {
    color: #261C1D;
}

.logout-btn {
    background: none;
    color: white;
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: .75s color;
    cursor: pointer;
}

.logout-btn:hover {
    color: #261C1D;
}

.data {
    margin-top: 1.5em;
}

.details-info-admin {
    border: 1px solid #888888;
}

.details-info-admin .car-details-img {
    margin-bottom: 0;
}

.details-info-admin .car-details-info-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.car-details-admin-btns {
    display: flex;
    justify-content: space-between;
}

.car-details-admin-btns a {
    text-align: center;
    color: white;
    text-decoration: none;
    width: 45%;
    background: cornflowerblue;
    padding: .25em 1em;
}

.edit-form {
    margin-top: 1em;
}

.input-point {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.input-point > * {
    width: 75%;
    margin: 0 auto;
}

.input-point select {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
}

.input-point label {
    margin-bottom: .5em;
}

.edit-form input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
}

.add-btn {
    background: cornflowerblue;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    margin-top: .75em;
    padding: .25em;
    transition: .75s background-color;
}

.add-btn:hover {
    background: #261C1D;
}

.image-change {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.edit-form fieldset {
    width: 48%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: -.6em;
}

.edit-form input[type="submit"] {
    border: none;
    background: green;
    color: white;
    width: 75%;
    padding: .5em;
    margin: 1em auto;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    transition: .75s background-color;
    cursor: pointer;
}

.edit-form input[type="submit"]:hover {
    background: darkolivegreen;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.data-table tr td, tr th {
    min-width: 25%;
    height: 50px;
    text-align: center;
}

.table-btn {
    display: inline-block;
    text-decoration: underline;
    color: #DB2D2E;
}

.table-btn:hover {
    color: #261C1D;
}

.add-data-btn {
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    background: cornflowerblue;
    color: white;
    width: 100%;
    text-align: center;
    padding: .5em;
    transition: .75s background-color;
}

.add-data-btn:hover {
    background: #261C1D;
}

.input-point textarea {
    resize: none;
    height: 100px;
}

.report-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: darkgreen;
    color: white;
    width: 150px;
    padding: .5em;
    justify-content: center;
    margin-top: 1em;
    transition: .75s background-color;
}

.report-btn i {
    margin-right: .25em;
}

.report-btn:hover {
    background: #261C1D;
}
