<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>

    <ul class="pagination">
        <li class="page-item texter">
            <a class="page-link" th:text="${currentPage == 0} ? Pages : Previous" th:href="${currentPage == 0} ? '#' : @{/catalog(size=5, page=${currentPage - 1})}">Pages</a>
        </li>
        <th:block th:each="pageNumber : ${pageNumbers}">
            <li class="page-item"><a th:class="${pageNumber==page.number + 1} ? active" th:href="@{/catalog(size=5, page=${pageNumber - 1})}" th:text="${pageNumber}"></a></li>
        </th:block>
        <li class="page-item texter">
            <a class="page-link" th:href="@{/catalog(size=5, page=${currentPage + 1})}">Next</a>
        </li>
    </ul>
    <div th:each="page : ${page}">
        <div th:text="${page.model.modelName}"></div>
    </div>

</body>
</html>