<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link th:href="@{/resources/css/styles.css}"
          href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.png" th:href="@{/resources/images/favicon.jpg}" type="img/jpg">
    <title>UniCar - Автосалон</title>
</head>
<body>
<header class="not-index">
    <section class="parallax-window header-section" data-parallax="scroll"
             data-image-src="../static/resources/images/background-car4.jpg"
             th:data-image-src="@{/resources/images/background-car4.jpg}"
             style="padding: 1em 0 1.5em;">
        <div class="wrap">
            <section class="top-bar">
                <section class="top-bar-section">
                    <div class="top-bar-inner">
                        <img class="top-bar-icon" src="../static/resources/images/icons/email.png"
                             th:src="@{/resources/images/icons/email.png}">
                        <p class="top-bar-section-text">uniloftsky@gmail.com</p>
                    </div>
                    <div class="top-bar-inner">
                        <img class="top-bar-icon" src="../static/resources/images/icons/four-oclock.png"
                             th:src="@{/resources/images/icons/four-oclock.png}">
                        <p class="top-bar-section-text" th:text="${currentDate}">20.12.2002 02:00 AM</p>
                    </div>
                </section>
                <section class="top-bar-section">
                    <div class="top-bar-inner">
                        <img class="top-bar-icon" src="../static/resources/images/icons/phone-call.png"
                             th:src="@{/resources/images/icons/phone-call.png}">
                        <p class="top-bar-section-text">(097)127-93-32</p>
                    </div>
                </section>
            </section>
        </div>
        <section class="sub-header-section">
            <div class="wrap">
                <div class="sub-header-in">
                    <div class="sub-header">
                        <section class="logo-block">
                            <img class="logo-img" src="../static/resources/images/logo-light.png"
                                 th:src="@{/resources/images/logo-light.png}">
                        </section>
                        <nav>
                            <ul>
                                <li><a href="#" th:href="@{/}">Головна</a></li>
                                <li><a th:href="@{/catalog(page=0, size=5)}">Каталог авто</a></li>
                                <li><a href="#" th:href="@{/contact}">Зв'язатися</a></li>
                                <li><a href="#" th:href="@{/about}">Про нас</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="sub-header">
                        <h2>Каталог</h2>
                        <div class="header-path">
                            <div>
                                <i class="fa fa-home"></i>
                                <a href="#" th:href="@{/}">Головна</a>
                            </div>
                            <div>
                                <i class="fa fa-angle-double-right"></i>
                                <a href="#" th:href="@{/catalog}">Каталог</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
</header>
<main>

    <div th:each="test : ${test}">
        <p th:text="${test.brand.brandName} + ' ' + ${test.model.modelName}"></p>
    </div>

    <section class="catalog-section">
        <div class="wrap">
            <div class="catalog-section-in">
                <div class="filter-section">
                    <form method="get" th:action="@{/catalog/filterCars}">
                        <div class="price-range-block">
                            <p class="price-range-title">Ціна:</p>
                            <div class="price-range-slider">
                                <div>
                                    <input type="number" id="min_price" class="price-range-field" name="minPrice"/><span>₴</span>
                                </div>
                                <div>
                                    <input type="number" id="max_price" class="price-range-field" name="maxPrice"/><span>₴</span>
                                </div>

                            </div>
                            <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
                        </div>
                        <button type="button" class="accordion">
                            <div class="accordion-in">
                                <span class="check-title">Бренд</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="panel-in">
                                <div class="check-block">
                                    <!--<input type="checkbox" name="brandName" value="allBrands">
                                    <label>Всі бренди</label>-->
                                    <input type="hidden" name="brandName" value="allBrands">
                                </div>
                                <div class="check-block" th:each="brand : ${brands}">
                                    <input type="checkbox" name="brandName" th:value="*{brand.brandName}">

                                    <label th:text="${brand.brandName}"></label>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="accordion">
                            <div class="accordion-in">
                                <span class="check-title">Модель</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="panel-in">
                                <div class="check-block">
                                    <!--<input type="checkbox" name="modelName" value="allModels">
                                    <label>Всі моделі</label>-->
                                    <input type="hidden" name="modelName" value="allModels">
                                </div>
                                <div class="check-block" th:each="model : ${models}">
                                    <input type="checkbox" name="modelName" th:value="*{model.modelName}">
                                    <label th:text="${model.modelName}"></label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="accordion">
                            <div class="accordion-in">
                                <span class="check-title">Модель кузова</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="panel-in">
                                <div class="check-block">
                                   <!-- <input type="checkbox" name="bodyName" value="allBodies">
                                    <label>Всі моделі кузова</label>-->
                                    <input type="hidden" name="bodyName" value="allBodies">
                                </div>
                                <div class="check-block" th:each="body : ${bodies}">
                                    <input type="checkbox" name="bodyName" th:value="*{body.bodyName}">

                                    <label th:text="${body.bodyName}"></label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="accordion">
                            <div class="accordion-in">
                                <span class="check-title">Тип кузова</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="panel-in">
                                <div class="check-block">
                                    <!-- <input type="checkbox" name="bodyName" value="allBodies">
                                     <label>Всі моделі кузова</label>-->
                                    <input type="hidden" name="carType" value="allTypes">
                                </div>
                                <div class="check-block" th:each="carType : ${carTypes}">
                                    <input type="checkbox" name="carType" th:value="*{carType.typeName}">

                                    <label th:text="${carType.typeName}"></label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="accordion">
                            <div class="accordion-in">
                                <span class="check-title">Тип двигуна</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </button>
                        <div class="panel" id="test-panel">
                            <div class="panel-in">
                                <div class="check-block">
                                    <!-- <input type="checkbox" name="bodyName" value="allBodies">
                                     <label>Всі моделі кузова</label>-->
                                    <input type="hidden" name="engineType" value="allEngines">
                                </div>
                                <div class="check-block" th:each="type : ${T(uniloft.springframework.spring5carshop.model.enums.EngineType).values()}">
                                    <input type="checkbox" name="engineType" th:value="*{type}">

                                    <label th:text="${type.description}"></label>
                                </div>
                            </div>
                        </div>
                        <input class="filter-submit-btn" type="submit">
                    </form>
                </div>
                <div class="catalog" th:if="${not #lists.isEmpty(page)}">
                    <div class="catalog-car" th:each="page : ${page}">
                        <div class="catalog-car-img-block">
                            <img class="catalog-car-img" th:src="'/' + ${page.image}">
                        </div>
                        <div class="catalog-car-info">
                            <p class="catalog-car-title"
                               th:text="${page.brand.brandName} + ' ' + ${page.model.modelName}">ACURA RSX</p>
                            <p class="catalog-car-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
                                numquam repellendus non voluptate.</p>
                            <div class="catalog-car-price-ext">
                                <p class="catalog-car-price" th:text="'₴' + ${page.price}">$32,698</p>
                                <a href="#" th:href="@{'/catalog/car/' + ${page.id}}" class="catalog-car-more">Детальніше</a>
                            </div>
                            <div class="catalog-car-extra">
                                <ul>
                                    <li>
                                        <i class="fa fa-paint-brush"></i>
                                        <p th:text="${page.color.colorName}">Color</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-cogs"></i>
                                        <p th:text="${page.engine.type.description}">Diesel</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-car"></i>
                                        <p th:text="${page.carType.typeName}">Sedan</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
<footer>

    <section class="parallax-window footer-section" data-parallax="scroll"
             data-image-src="../static/resources/images/background-car3.jpg"
             th:data-image-src="@{/resources/images/background-car3.jpg}"
             style="padding-bottom: 1.5em; padding-left: 0; padding-right: 0;">
        <div class="wrap">
            <div class="footer-section-in">
                <div class="footer-top">
                    <div class="footer-info">
                        <div class="logo-footer-img-block">
                            <img class="logo-footer-img" src="../static/resources/images/logo-light.png"
                                 th:src="@{/resources/images/logo-light.png}">
                        </div>
                        <div class="footer-content">
                            <p class="footer-text">Пропонуємо найкращі послуги з найкращою якістю і найкращим
                                сервісом!</p>
                        </div>
                        <div class="contacts">
                            <div class="footer-contact-in">
                                <i class="fa fa-map-marker"></i>
                                <p class="footer-contact">вул. Соборна, 18</p>
                            </div>
                            <div class="footer-contact-in">
                                <i class="fa fa-phone"></i>
                                <p class="footer-contact">(007) 123 456 7890</p>
                            </div>
                            <div class="footer-contact-in">
                                <i class="fa fa-envelope-o"></i>
                                <p class="footer-contact">support@website.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-info">
                        <p class="footer-info-title">Корисні посилання</p>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Заміна масла і фільтрів</a>
                        </div>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Заміна тормозних колодок</a>
                        </div>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Заміна ременя</a>
                        </div>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Перевірка перед придбанням</a>
                        </div>
                        <div class="link-block">
                            <i class="fa fa-angle-double-right"></i>
                            <a href="#" class="footer-link">Заміна стартера</a>
                        </div>
                    </div>
                    <div class="footer-info">
                        <p class="footer-info-title">Останні авто</p>
                        <div class="recent-cars">
                            <div class="recent-car" th:each="car : ${recentCars}">
                                <div class="recent-car-img-block">
                                    <img class="recent-car-img" src="../static/resources/images/mercedes.jpg"
                                         th:src="'/' + ${car.image}">
                                </div>
                                <div class="recent-car-info">
                                    <a th:href="@{'/catalog/car/' + ${car.id}}" class="recent-car-name"
                                       th:text="${car.brand.brandName} + ' ' + ${car.model.modelName}">Mercedes Benz</a>
                                    <div>
                                        <i class="fa fa-calendar"></i>
                                        <p class="recent-car-date" th:text="${currentDate}">12.20.2001</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-info">
                        <p class="footer-info-title">Підпишіться на наші новини</p>
                        <p class="footer-text">Будьте в курсі останніх новинок і останніх автомобілів. Залиште свою
                            пошту.</p>
                        <form class="footer-form">
                            <input type="email" placeholder="Введіть свою пошту" name="email-sub">
                            <br>
                            <input type="submit" value="Підписатися">
                        </form>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-q">
                        <div class="footer-q-side">
                            <p class="footer-q-title">В пошуках нової автівки?</p>
                            <p class="footer-q-text">Детальніше познайомтесь з набором автомобілів нашої компаніїї.</p>
                        </div>
                        <a href="#" th:href="@{'/catalog'}" class="btn-q">Детальніше</a>
                    </div>
                    <div class="footer-q">
                        <div class="footer-q-side">
                            <p class="footer-q-title">Бажаєте продати своє авто?</p>
                            <p class="footer-q-text">Ми співпрацюємо з компаніями, що забезпечують швидку продажу вашого авто.</p>
                        </div>
                        <a href="#" th:href="@{'/catalog'}" class="btn-q">Детальніше</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-in">
                <div class="footer-bottom-side">
                    <p>©Car Dealer Developed by <span style="color: #DB2D2E;">Anton Kulyk</span></p>
                </div>
                <div class="footer-bottom-side">
                    <ul>
                        <li><a href="#">Політика конфіденційності</a></li>
                        <li><a href="#">Правила та умови</a></li>
                        <li><a href="#" th:href="@{'/contact'}">Зв'язатись</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../static/resources/js/numbercount.js" th:src="@{/resources/js/numbercount.js}"></script>
<script type="text/javascript" src="../static/resources/js/parallax.js" th:src="@{/resources/js/parallax.js}"></script>
<script src="../static/resources/js/chainedselects.js" type="text/javascript"
        th:src="@{/resources/js/chainedselects.js}"></script>
<script th:src="@{/resources/js/accordion.js}" type="text/javascript" src="../static/resources/js/accordion.js"></script>
<script src="../static/resources/js/slider.js" type="text/javascript" th:src="@{/resources/js/slider.js}"></script>
<!--<script src="../static/resources/js/pricerange.js" type="text/javascript" th:src="@{resources/js/pricerange.js}"></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://kit.fontawesome.com/de94abba4d.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {


        $("#min_price,#max_price").on("paste keyup", function () {

            $('#price-range-submit').show();

            var min_price_range = parseInt($("#min_price").val());

            var max_price_range = parseInt($("#max_price").val());

            if (min_price_range == max_price_range) {

                max_price_range = min_price_range + 100;

                $("#min_price").val(min_price_range);
                $("#max_price").val(max_price_range);
            }

            $("#slider-range").slider({
                values: [min_price_range, max_price_range]
            });

        });


        $(function () {
            var minSelectedPrice = [(${minSelectedPrice})];
            var maxSelectedPrice = [(${maxSelectedPrice})];
            $("#slider-range").slider({

                range: true,
                orientation: "horizontal",
                min: [(${minPrice})],
                max: [(${maxPrice})],

                values: [minSelectedPrice, maxSelectedPrice],

                step: 1,

                slide: function (event, ui) {
                    if (ui.values[0] == ui.values[1]) {
                        return false;
                    }

                    $("#min_price").val(ui.values[0]);
                    $("#max_price").val(ui.values[1]);
                }
            });

            $("#min_price").val($("#slider-range").slider("values", 0));
            $("#max_price").val($("#slider-range").slider("values", 1));

        });

/*        $("#slider-range,#price-range-submit").click(function () {

            var min_price = $('#min_price').val();
            var max_price = $('#max_price').val();
            $("#searchResults").text("Here List of products will be shown which are cost between " + min_price  +" "+ "and" + " "+ max_price + ".");
        });*/

    });
</script>
</body>
</html>

<!--<ul class="pagination">
        <li class="page-item texter">
            <a class="page-link" th:text="${currentPage == 0} ? Pages : Previous" th:href="${currentPage == 0} ? '#' : @{/catalog(size=5, page=${currentPage - 1})}">Pages</a>
        </li>
        <th:block th:each="pageNumber : ${pageNumbers}">
            <li class="page-item"><a th:class="${pageNumber==page.number + 1} ? active" th:href="@{/catalog(size=5, page=${pageNumber - 1})}" th:text="${pageNumber}"></a></li>
        </th:block>
        <li class="page-item texter">
            <a class="page-link" th:href="@{/catalog(size=5, page=${currentPage + 1})}">Next</a>
        </li>
    </ul>
    <div th:each="page : ${page}">
        <div th:text="${page.model.modelName}"></div>
    </div>-->