<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link th:href="@{../static/resources/css/styles.css}" href="../static/resources/css/styles.css" rel="stylesheet" type="text/css">
    <title>UniCar - Автосалон</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Головна</li>
                <li>Автомобілі</li>
                <li>Список операцій</li>
                <li>Про нас</li>
            </ul>
        </nav>
        <div>
            <p>Авторизуватись</p>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>